.career-form {
  padding: 24px 0 64px;

  @media (--laptop) {
    padding-top: 36px;
    padding-bottom: 80px;
  }

  @media (--desktop) {
    padding: 110px 0 200px;
  }

  & .section__header {

    @media (--tablet-landscape) {
      margin-bottom: 15px;
    }

    @media (--laptop) {
      margin-bottom: 34px;
    }

    @media (--desktop) {
      margin-bottom: 24px;
    }
  }

  & .section__heading {
    line-height: 1.1;
    letter-spacing: -0.03em;

    @media (--tablet) {
      font-size: 32px;
    }

    @media (--tablet-landscape) {
      font-size: 40px;
      line-height: 1;
    }

    @media (--laptop) {
      font-size: 48px;
    }

    @media (--desktop) {
      font-size: 64px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (--tablet) {
      flex-direction: row;
      gap: 12px;
    }

    @media (--laptop) {
      gap: 16px;
    }
  }

  &__sidebar {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (--tablet) {
      flex-shrink: 0;
      width: 237px;
      justify-content: space-between;
    }

    @media (--tablet-landscape) {
      width: var(--section-col);
    }
  }

  &__hh {
    border-color: var(--color-blue-300);
    border-radius: 10px;
    font-size: 18px;

    @media (--tablet-landscape) {
      width: 195px;
    }

    @media (--laptop) {
      width: 191px;
    }

    @media (--desktop) {
      width: 291px;
      height: 40px;
      border-radius: 10px;
      font-size: 18px;
    }
  }

  &__desc {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (--tablet-landscape) {
      max-width: 195px;
      margin-bottom: 8px;
    }

    @media (--laptop) {
      max-width: 191px;
    }

    @media (--desktop) {
      max-width: 280px;
    }
  }

  &__desc-text {
    @mixin font;

    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: var(--color-blue-300);

    @media (--laptop) {
      font-size: 16px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (--tablet-landscape) {
      width: 490px;
    }

    @media (--laptop) {
      width: 402px;
    }

    @media (--desktop) {
      width: 596px;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

}
