.career-hero {
  & .inner-hero__title {
    text-shadow:
      0 0 20px var(--color-white),
      0 0 40px var(--color-white),
      0 0 60px var(--color-white);
    padding-left: 12%;
    padding-right: 15%;
    margin-top: -62px;

    @media (--tablet) {
      padding-left: 0;
      padding-right: 0;
    }

    @media (--laptop) {
      margin-top: -104px;
    }

    @media (--desktop) {
      margin-top: -129px;
    }
  }
}
