<section class="products-about">
  <div class="products-about__wrapper wrapper">
    <div class="products-about__header">
      <p class="products-about__label">о продукции</p>
      <h2 class="products-about__title">Больше о нашей продукции</h2>
    </div>

    <div class="products-about__list">
      <div class="products-about__card">
        <div class="products-about__card-body">
          <h3 class="products-about__card-title">Качество в основе работы</h3>
          <div class="products-about__card-texts">
            <p class="products-about__card-text">Производственная площадка «ФАРМ ЭЙД» спроектирована с учетом современных решений и систем контроля, обеспечивающих стабильно высокое качество продукции. Лаборатории контроля качества оснащены аналитическим оборудованием, позволяющим гарантировать точность и надежность результатов.</p>
            <p class="products-about__card-text">Технические специалисты компании применяют процессы и системы, разработанные в сотрудничестве с лидерами отрасли и локальными экспертными центрами.</p>
          </div>
        </div>
        <div class="products-about__card-image">
          <img src="./images/products-page/about-quality.avif" alt="Качество в основе работы">
        </div>
      </div>

      <div class="products-about__card">
        <div class="products-about__card-body">
          <h3 class="products-about__card-title">Внедрение системы качества</h3>
          <div class="products-about__card-texts">
            <p class="products-about__card-text">Деятельность компании ориентирована на обеспечение всеобъемлющего контроля качества в соответствии с Правилами надлежащей производственной практики (GMP), стандартами ISO и регуляторными требованиями.</p>
            <p class="products-about__card-text">Национальным аналогом GMP в Российской Федерации является ГОСТ Р 52249–2009 «Правила производства и контроля качества лекарственных средств», текст которого идентичен международному стандарту.</p>
            <p class="products-about__card-text">Компания последовательно внедряет технологические достижения в производственные и бизнес-процессы для повышения эффективности, скорости и качества работы.</p>
          </div>
        </div>
        <div class="products-about__card-image">
          <img src="./images/products-page/about-gmp.avif" alt="Внедрение системы качества">
        </div>
      </div>
    </div>
  </div>
</section>
