<section class="products-catalog" id="vaccines">
  <div class="products-catalog__wrapper wrapper">
    <div class="products-catalog__header">
      <h2 class="products-catalog__title">
        «Фарм Эйд» формирует портфель
        <span class="products-catalog__title-accent">высококачественных лекарственных препаратов</span>
        на основе анализа эпидемиологической статистики и фармакоэкономических аспектов системы здравоохранения России
      </h2>

      <p class="products-catalog__subtitle">
        В каталог компании включены продукты, отобранные из числа лучших мировых биофармацевтических разработок.
      </p>
    </div>

    <div class="products-catalog__list">
      <div class="products-catalog__card">
        <div class="products-catalog__card-visual">
          <div class="products-catalog__card-image">
            <img src="./images/products-page/meningococcal.avif" alt="Вакцина против менингококковой инфекции">
          </div>

          <div class="products-catalog__card-tags">
            <span class="products-catalog__tag products-catalog__tag--prescription">По рецепту</span>
            <span class="products-catalog__tag products-catalog__tag--vital">ЖНВЛП</span>
          </div>
        </div>

        <div class="products-catalog__card-body">
          <h3 class="products-catalog__card-title">Вакцина против менингококковой инфекции</h3>
          <p class="products-catalog__card-description">Вакцина для профилактики менингококковой инфекции серогрупп A, C, Y, W, X, полисахаридная, коньюгированная с белком носителем — столбнячным анатоксином и CRM197.</p>
        </div>

        <a class="products-catalog__card-link" href="#">
          Узнать больше
          <span class="products-catalog__card-link-arrow"></span>
        </a>
      </div>

      <div class="products-catalog__card">
        <div class="products-catalog__card-visual">
          <div class="products-catalog__card-image">
            <img src="./images/products/rota-v-aid.avif" alt="Рота-V-Эйд">
          </div>

          <div class="products-catalog__card-tags">
            <span class="products-catalog__tag products-catalog__tag--prescription">По рецепту</span>
            <span class="products-catalog__tag products-catalog__tag--vital">ЖНВЛП</span>
          </div>
        </div>

        <div class="products-catalog__card-body">
          <h3 class="products-catalog__card-title">Вакцина для профилактики ротавирусной инфекции</h3>
          <p class="products-catalog__card-description">Живая аттенуированная противовирусная вакцина (для перорального применения), предназначена для активной иммунизации здоровых младенцев для предотвращения гастроэнтерита, вызванного ротавирусом.</p>
        </div>

        <a class="products-catalog__card-link" href="#">
          Узнать больше
          <span class="products-catalog__card-link-arrow"></span>
        </a>
      </div>

      <div class="products-catalog__card">
        <div class="products-catalog__card-visual">
          <div class="products-catalog__card-image">
            <img src="./images/products/trivaid.avif" alt="Тривэйд">
          </div>

          <div class="products-catalog__card-tags">
            <span class="products-catalog__tag products-catalog__tag--prescription">По рецепту</span>
            <span class="products-catalog__tag products-catalog__tag--vital">ЖНВЛП</span>
          </div>
        </div>

        <div class="products-catalog__card-body">
          <h3 class="products-catalog__card-title">Вакцина для профилактики кори, краснухи и паротита</h3>
          <p class="products-catalog__card-description">Вакцина под торговым наименованием ТРИВЭЙД® предназначена для активной иммунизации от кори, краснухи и паротита различных возрастных групп, в том числе детей, начиная с 12-месячного возраста.</p>
        </div>

        <a class="products-catalog__card-link" href="#">
          Узнать больше
          <span class="products-catalog__card-link-arrow"></span>
        </a>
      </div>

      <div class="products-catalog__card">
        <div class="products-catalog__card-visual">
          <div class="products-catalog__card-image">
            <img src="./images/products-page/fertigen.avif" alt="Фертиген">
          </div>

          <div class="products-catalog__card-tags">
            <span class="products-catalog__tag products-catalog__tag--prescription">По рецепту</span>
            <span class="products-catalog__tag products-catalog__tag--vital">ЖНВЛП</span>
          </div>
        </div>

        <div class="products-catalog__card-body">
          <h3 class="products-catalog__card-title">Синтетический гормон при дефиците прогестерона</h3>
          <p class="products-catalog__card-description">Дидрогестерон представляет собой синтетический гормон — прогестаген, обладающий схожим действием с естественным женским гормоном прогестероном, вырабатываемым яичниками.</p>
        </div>

        <a class="products-catalog__card-link" href="#">
          Узнать больше
          <span class="products-catalog__card-link-arrow"></span>
        </a>
      </div>

      <div class="products-catalog__card">
        <div class="products-catalog__card-visual">
          <div class="products-catalog__card-placeholder">
            <span class="products-catalog__card-placeholder-icon"></span>
            <span class="products-catalog__card-placeholder-text">Нет фото</span>
          </div>

          <div class="products-catalog__card-tags">
            <span class="products-catalog__tag products-catalog__tag--prescription">По рецепту</span>
            <span class="products-catalog__tag products-catalog__tag--vital">ЖНВЛП</span>
            <span class="products-catalog__tag products-catalog__tag--developing">В разработке</span>
          </div>
        </div>

        <div class="products-catalog__card-body">
          <h3 class="products-catalog__card-title">Вакцина против ветряной оспы</h3>
          <p class="products-catalog__card-description">Живая аттенуированная вакцина для профилактики ветряной оспы.</p>
        </div>

        <a class="products-catalog__card-link" href="#">
          Узнать больше
          <span class="products-catalog__card-link-arrow"></span>
        </a>
      </div>
    </div>
  </div>
</section>
