<section class="products-hero">
  <div class="products-hero__wrapper wrapper">
    <div class="products-hero__composition">
      <div class="products-hero__title" role="heading" aria-level="1">
        <div class="products-hero__title-word products-hero__title-word--left">наши</div>
        <div class="products-hero__title-word products-hero__title-word--right">
          продукты

          <ul class="products-hero__links">
            <li class="products-hero__links-item">
              <a class="products-hero__links-link" href="product.html">Вакцина для профилактики ротавирусной инфекции</a>
            </li>
            <li class="products-hero__links-item">
              <a class="products-hero__links-link" href="product.html">Вакцина против менингококковой инфекции</a>
            </li>
            <li class="products-hero__links-item">
              <a class="products-hero__links-link" href="product.html">Вакцина для профилактики кори, краснухи и паротита</a>
            </li>
            <li class="products-hero__links-item">
              <a class="products-hero__links-link" href="product.html">Синтетический гормон при дефиците прогестерона</a>
            </li>
            <li class="products-hero__links-item">
              <a class="products-hero__links-link" href="product.html">Вакцина против ветряной оспы</a>
              <span class="products-hero__links-badge">В разработке</span>
            </li>
          </ul>
        </div>
      </div>

      <div class="products-hero__vial">
        <img class="products-hero__vial-image" src="./images/products-page/hero-vial.avif" alt="Вакцина PharmAid">
      </div>
    </div>

    <a class="products-hero__button" href="#vaccines">к вакцинам</a>
  </div>
</section>
