<section class="products-hero">
  <div class="products-hero__wrapper wrapper">
    <div class="products-hero__composition">
      <h1 class="products-hero__title">
        <span class="products-hero__title-word products-hero__title-word--left">наши</span>
        <span class="products-hero__title-word products-hero__title-word--right">продукты</span>
      </h1>

      <div class="products-hero__vial">
        <img class="products-hero__vial-image" src="./images/products-page/hero-vial.avif" alt="Вакцина PharmAid">
      </div>
    </div>

    <a class="products-hero__button" href="#vaccines">к вакцинам</a>
  </div>
</section>
