<section class="products-principles">
  <div class="products-principles__wrapper wrapper">
    <div class="products-principles__header">
      <p class="products-principles__label">как мы работаем</p>
      <h2 class="products-principles__title">Принципы формирования продуктового портфеля:</h2>
    </div>

    <div class="products-principles__list">
      <div class="products-principles__item">
        <span class="products-principles__number">01</span>
        <p class="products-principles__text">Отбор препаратов на основе постоянного мониторинга мировых исследований и востребованности на целевых рынках</p>
      </div>

      <div class="products-principles__item">
        <span class="products-principles__number">02</span>
        <p class="products-principles__text">Проведение полного цикла доклинических и клинических исследований в соответствии с российскими и евразийскими регуляторными требованиями</p>
      </div>

      <div class="products-principles__item">
        <span class="products-principles__number">03</span>
        <p class="products-principles__text">Многоуровневая проверка соответствия стандартам качества, безопасности и эффективности</p>
      </div>

      <div class="products-principles__item">
        <span class="products-principles__number">04</span>
        <p class="products-principles__text">Применение безопасных технологий производства, обеспечивающих высокую чистоту препаратов и снижение риска побочных эффектов</p>
      </div>

      <div class="products-principles__item">
        <span class="products-principles__number">05</span>
        <p class="products-principles__text">Большая часть продуктов компании одобрена для применения у детей с младенческого возраста.</p>
      </div>
    </div>
  </div>
</section>
