.page-partners {
  display: flex;
  flex-direction: column;
  gap: 64px;

  @media (--laptop) {
    gap: 0;
  }

  & .page__content {
    display: flex;
    flex-direction: column;
    gap: 64px;

    @media (--laptop) {
      gap: 80px;
      padding-top: 80px;
    }

    @media (--desktop) {
      gap: 100px;
      padding-top: 100px;
    }
  }
}
