.partners-hero {
  & .inner-hero__title {
    text-shadow:
      0 0 100px var(--color-white),
      8px 8px 30px rgba(255, 255, 255, 0.6);

    @media (--desktop) {
      letter-spacing: 0.04em;
      text-shadow: 0 0 80px rgba(255, 255, 255, 0.6);
    }
  }
}
