<section class="partners-competencies section">
  <div class="partners-competencies__wrapper wrapper">
    <div class="section__header">
      <p class="section__label">Наш подход</p>
      <h2 class="section__heading">Наш подход к&nbsp;сотрудничеству</h2>
      <p class="partners-competencies__subtitle">
        «ФАРМ ЭЙД» ответственно подходит к&nbsp;выбору партнеров для работы
        на&nbsp;фармацевтическом рынке России и&nbsp;в&nbsp;едином экономическом
        пространстве ЕАЭС.
      </p>
    </div>

    <div class="partners-competencies__body">
      <div class="partners-competencies__content">
        <div class="partners-competencies__text">
          <p class="partners-competencies__accent">
            Мы&nbsp;представляем интересы ведущих фармацевтических компаний
            с&nbsp;безупречной репутацией и&nbsp;многолетним опытом
            на&nbsp;локальных и&nbsp;глобальных площадках.
          </p>
          <p class="partners-competencies__desc">
            Все поставляемые нами препараты проходят необходимые исследования
            и&nbsp;строго соответствуют стандартам качества, действующим
            в&nbsp;России и&nbsp;странах ЕАЭС.
          </p>
        </div>
        <p class="partners-competencies__goal">
          Главная цель наших усилий&nbsp;&mdash; обеспечивать пациентам этих
          государств доступ к&nbsp;востребованным, эффективным и&nbsp;доступным
          средствам лечения и&nbsp;профилактики социально значимых заболеваний.
        </p>
      </div>

      <div class="partners-competencies__images">
        <div class="partners-competencies__photo partners-competencies__photo--main">
          <picture>
            <source srcset="./images/partners/approach-lab-desktop.avif 1x, ./images/partners/approach-lab-desktop@2x.avif 2x" media="(min-width: 1380px)" type="image/avif">
            <source srcset="./images/partners/approach-lab-laptop.avif 1x, ./images/partners/approach-lab-laptop@2x.avif 2x" media="(min-width: 1280px)" type="image/avif">
            <source srcset="./images/partners/approach-lab-tablet-landscape.avif 1x, ./images/partners/approach-lab-tablet-landscape@2x.avif 2x" media="(min-width: 1024px)" type="image/avif">
            <source srcset="./images/partners/approach-lab-tablet.avif" media="(min-width: 768px)" type="image/avif">
            <source srcset="./images/partners/approach-lab.avif" type="image/avif">
            <img class="partners-competencies__photo-img" src="./images/partners/approach-lab.avif" alt="" loading="lazy">
          </picture>
        </div>
        <div class="partners-competencies__photo partners-competencies__photo--small">
          <picture>
            <source srcset="./images/partners/approach-lab-small-desktop.avif 1x, ./images/partners/approach-lab-small-desktop@2x.avif 2x" media="(min-width: 1380px)" type="image/avif">
            <source srcset="./images/partners/approach-lab-small-laptop.avif 1x, ./images/partners/approach-lab-small-laptop@2x.avif 2x" media="(min-width: 1280px)" type="image/avif">
            <source srcset="./images/partners/approach-lab-small-tablet-landscape.avif" media="(min-width: 1024px)" type="image/avif">
            <img class="partners-competencies__photo-img" src="./images/partners/approach-lab-small-tablet-landscape.avif" alt="" loading="lazy">
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
