<section class="partners-cooperation section">
  <div class="partners-cooperation__wrapper wrapper">
    <div class="section__header">
      <p class="section__label">Сотрудничество</p>

      <p class="partners-cooperation__desc">
        «ФАРМ ЭЙД» всегда открыт к&nbsp;взаимовыгодному сотрудничеству с&nbsp;надежными
        поставщиками и&nbsp;дистрибьюторскими сетями. Мы&nbsp;ценим репутацию и&nbsp;строим
        долгосрочные отношения на&nbsp;основе прозрачности, безупречного качества продукции
        и&nbsp;строгого соблюдения отраслевых стандартов, чтобы вместе делать качественную
        помощь доступнее.
      </p>
    </div>

    <a class="partners-cooperation__button" href="contacts.html" data-popup="cooperation-popup">Стать партнером</a>
  </div>
</section>
