<section class="partners-hero">
  <div class="partners-hero__bg">
    <picture class="partners-hero__bg-picture">
      <source srcset="./images/partners/partners-hero-bg-desktop.avif 1x, ./images/partners/partners-hero-bg-desktop@2x.avif 2x" media="(min-width: 1380px)" type="image/avif">
      <source srcset="./images/partners/partners-hero-bg-laptop.avif 1x, ./images/partners/partners-hero-bg-laptop@2x.avif 2x" media="(min-width: 1280px)" type="image/avif">
      <source srcset="./images/partners/partners-hero-bg-tablet-landscape.avif 1x, ./images/partners/partners-hero-bg-tablet-landscape@2x.avif 2x" media="(min-width: 1024px)" type="image/avif">
      <source srcset="./images/partners/partners-hero-bg-tablet.avif" media="(min-width: 768px)" type="image/avif">
      <source srcset="./images/partners/partners-hero-bg.avif" type="image/avif">
      <img class="partners-hero__bg-image" src="./images/partners/partners-hero-bg.avif" alt="">
    </picture>
    <div class="partners-hero__gradient"></div>
  </div>

  <div class="partners-hero__wrapper wrapper">
    <h1 class="partners-hero__title">Партнерам</h1>
  </div>
</section>
