<section class="inner-hero partners-hero">
  <div class="inner-hero__bg">
    <video
      class="inner-hero__bg-video js-hero-video"
      poster="./images/partners/partners-hero-bg.avif"
      data-src-390="./videos/partners/partners-hero-390.mp4"
      data-src-768="./videos/partners/partners-hero-768.mp4"
      data-src-1024="./videos/partners/partners-hero-1024.mp4"
      data-src-1280="./videos/partners/partners-hero-1280.mp4"
      data-src-1920="./videos/partners/partners-hero-1920.mp4"
      muted
      loop
      playsinline
      preload="metadata"
    ></video>
  </div>

  <div class="inner-hero__wrapper wrapper">
    <h1 class="inner-hero__title">Партнерам</h1>
  </div>
</section>
