<section class="partners-team section">
  <div class="partners-team__wrapper wrapper">
    <div class="section__header">
      <p class="section__label">Команда</p>

      <h2 class="section__heading">
        Команда нашей компании&nbsp;&mdash; настоящие профессионалы своего дела,
        нацеленные на&nbsp;достижение результата
      </h2>

      <p class="partners-team__desc">
        Перед нами стоят важные и&nbsp;масштабные задачи, для успешного выполнения
        которых требуются концентрация наших возможностей и&nbsp;постоянное развитие.
      </p>
    </div>

    <div class="partners-team__leaders">
      <div class="partners-team__card partners-team__card--leader">
        <div class="partners-team__card-photo partners-team__card-photo--flipped">
          <img class="partners-team__card-img" loading="lazy" src="./images/partners/team/mishra.avif" alt="Дебадутта Мишра">
        </div>
        <div class="partners-team__card-info">
          <p class="partners-team__card-name">Дебадутта Мишра</p>
          <p class="partners-team__card-role">Президент</p>
        </div>
      </div>

      <div class="partners-team__card partners-team__card--leader">
        <div class="partners-team__card-photo">
          <img class="partners-team__card-img" loading="lazy" src="./images/partners/team/metov.avif" alt="Азамат Метов">
        </div>
        <div class="partners-team__card-info">
          <p class="partners-team__card-name">Азамат Метов</p>
          <p class="partners-team__card-role">Генеральный директор</p>
        </div>
      </div>
    </div>

    <div class="partners-team__grid">
      <div class="partners-team__card">
        <div class="partners-team__card-photo">
          <img class="partners-team__card-img" loading="lazy" src="./images/partners/team/larin.avif" alt="Александр Ларин">
        </div>
        <div class="partners-team__card-info">
          <p class="partners-team__card-name">Александр Ларин</p>
          <p class="partners-team__card-role">Заместитель генерального директора по&nbsp;экономике и&nbsp;финансам</p>
        </div>
      </div>

      <div class="partners-team__card">
        <div class="partners-team__card-photo">
          <img class="partners-team__card-img" loading="lazy" src="./images/partners/team/erokhin.avif" alt="Юрий Ерохин">
        </div>
        <div class="partners-team__card-info">
          <p class="partners-team__card-name">Юрий Ерохин</p>
          <p class="partners-team__card-role">Директор/Заместитель директора по&nbsp;строительству</p>
        </div>
      </div>

      <div class="partners-team__card">
        <div class="partners-team__card-photo">
          <img class="partners-team__card-img" loading="lazy" src="./images/partners/team/safonova.avif" alt="Екатерина Сафонова">
        </div>
        <div class="partners-team__card-info">
          <p class="partners-team__card-name">Екатерина Сафонова</p>
          <p class="partners-team__card-role">Директор по&nbsp;медицинским вопросам и&nbsp;маркетингу</p>
        </div>
      </div>

      <div class="partners-team__card">
        <div class="partners-team__card-photo">
          <img class="partners-team__card-img" loading="lazy" src="./images/partners/team/vlasov.avif" alt="Александр Власов">
        </div>
        <div class="partners-team__card-info">
          <p class="partners-team__card-name">Александр Власов</p>
          <p class="partners-team__card-role">Заместитель генерального директора по&nbsp;развитию и&nbsp;производству</p>
        </div>
      </div>

      <div class="partners-team__card">
        <div class="partners-team__card-photo">
          <img class="partners-team__card-img" loading="lazy" src="./images/partners/team/shapovalov.avif" alt="Александр Шаповалов">
        </div>
        <div class="partners-team__card-info">
          <p class="partners-team__card-name">Александр Шаповалов</p>
          <p class="partners-team__card-role">Коммерческий директор</p>
        </div>
      </div>

      <div class="partners-team__card">
        <div class="partners-team__card-photo">
          <img class="partners-team__card-img" loading="lazy" src="./images/partners/team/korovkin.avif" alt="Алексей Коровкин">
        </div>
        <div class="partners-team__card-info">
          <p class="partners-team__card-name">Алексей Коровкин</p>
          <p class="partners-team__card-role">Директор по&nbsp;взаимодействию с&nbsp;органами государственной власти</p>
        </div>
      </div>

      <div class="partners-team__card">
        <div class="partners-team__card-photo">
          <img class="partners-team__card-img" loading="lazy" src="./images/partners/team/agadzhanov.avif" alt="Георгий Агаджанов">
        </div>
        <div class="partners-team__card-info">
          <p class="partners-team__card-name">Георгий Агаджанов</p>
          <p class="partners-team__card-role">Директор по&nbsp;взаимодействию с&nbsp;органами государственной власти</p>
        </div>
      </div>

      <div class="partners-team__card">
        <div class="partners-team__card-photo">
          <img class="partners-team__card-img" loading="lazy" src="./images/partners/team/savina.avif" alt="Ирина Савина">
        </div>
        <div class="partners-team__card-info">
          <p class="partners-team__card-name">Ирина Савина</p>
          <p class="partners-team__card-role">Директор по&nbsp;правовым вопросам</p>
        </div>
      </div>

      <div class="partners-team__card">
        <div class="partners-team__card-photo">
          <img class="partners-team__card-img" loading="lazy" src="./images/partners/team/sizova.avif" alt="Людмила Сизова">
        </div>
        <div class="partners-team__card-info">
          <p class="partners-team__card-name">Людмила Сизова</p>
          <p class="partners-team__card-role">Директор департамента качества</p>
        </div>
      </div>

      <div class="partners-team__card">
        <div class="partners-team__card-photo">
          <img class="partners-team__card-img" loading="lazy" src="./images/partners/team/lokatkina.avif" alt="Татьяна Локаткина">
        </div>
        <div class="partners-team__card-info">
          <p class="partners-team__card-name">Татьяна Локаткина</p>
          <p class="partners-team__card-role">Глава PR-службы</p>
        </div>
      </div>
    </div>
  </div>
</section>
