<section class="partners-team section">
  <div class="partners-team__wrapper wrapper">
    <div class="section__header">
      <p class="section__label">Команда</p>

      <h2 class="section__heading">
        Команда нашей компании&nbsp;&mdash; настоящие профессионалы своего дела,
        нацеленные на&nbsp;достижение результата
      </h2>

      <p class="partners-team__desc">
        Перед нами стоят важные и&nbsp;масштабные задачи, для успешного выполнения
        которых требуются концентрация наших возможностей и&nbsp;постоянное развитие.
      </p>
    </div>

    <div class="partners-team__leaders">
      <div class="partners-team__card partners-team__card--leader">
        <div class="partners-team__card-photo">
          <picture class="partners-team__card-picture">
            <source srcset="./images/partners/team/mishra-desktop.avif 1x, ./images/partners/team/mishra-desktop@2x.avif 2x" media="(min-width: 1380px)" type="image/avif">
            <source srcset="./images/partners/team/mishra-laptop.avif 1x, ./images/partners/team/mishra-laptop@2x.avif 2x" media="(min-width: 1280px)" type="image/avif">
            <source srcset="./images/partners/team/mishra-tablet-landscape.avif 1x, ./images/partners/team/mishra-tablet-landscape@2x.avif 2x" media="(min-width: 1024px)" type="image/avif">
            <source srcset="./images/partners/team/mishra-tablet.avif" media="(min-width: 768px)" type="image/avif">
            <source srcset="./images/partners/team/mishra.avif" type="image/avif">
            <img class="partners-team__card-img" loading="lazy" src="./images/partners/team/mishra.avif" alt="Дебадутта Мишра">
          </picture>
        </div>
        <div class="partners-team__card-info">
          <p class="partners-team__card-name">Дебадутта Мишра</p>
          <p class="partners-team__card-role">Президент</p>
        </div>
      </div>

      <div class="partners-team__card partners-team__card--leader">
        <div class="partners-team__card-photo">
          <picture class="partners-team__card-picture">
            <source srcset="./images/partners/team/metov-desktop.avif 1x, ./images/partners/team/metov-desktop@2x.avif 2x" media="(min-width: 1380px)" type="image/avif">
            <source srcset="./images/partners/team/metov-laptop.avif 1x, ./images/partners/team/metov-laptop@2x.avif 2x" media="(min-width: 1280px)" type="image/avif">
            <source srcset="./images/partners/team/metov-tablet-landscape.avif 1x, ./images/partners/team/metov-tablet-landscape@2x.avif 2x" media="(min-width: 1024px)" type="image/avif">
            <source srcset="./images/partners/team/metov-tablet.avif" media="(min-width: 768px)" type="image/avif">
            <source srcset="./images/partners/team/metov.avif" type="image/avif">
            <img class="partners-team__card-img" loading="lazy" src="./images/partners/team/metov.avif" alt="Азамат Метов">
          </picture>
        </div>
        <div class="partners-team__card-info">
          <p class="partners-team__card-name">Азамат Метов</p>
          <p class="partners-team__card-role">Генеральный директор</p>
        </div>
      </div>
    </div>

    <div class="partners-team__grid">
      <div class="partners-team__card">
        <div class="partners-team__card-photo">
          <picture class="partners-team__card-picture">
            <source srcset="./images/partners/team/larin-desktop.avif 1x, ./images/partners/team/larin-desktop@2x.avif 2x" media="(min-width: 1380px)" type="image/avif">
            <source srcset="./images/partners/team/larin-laptop.avif 1x, ./images/partners/team/larin-laptop@2x.avif 2x" media="(min-width: 1280px)" type="image/avif">
            <source srcset="./images/partners/team/larin-tablet-landscape.avif 1x, ./images/partners/team/larin-tablet-landscape@2x.avif 2x" media="(min-width: 1024px)" type="image/avif">
            <source srcset="./images/partners/team/larin-tablet.avif" media="(min-width: 768px)" type="image/avif">
            <source srcset="./images/partners/team/larin.avif" type="image/avif">
            <img class="partners-team__card-img" loading="lazy" src="./images/partners/team/larin.avif" alt="Александр Ларин">
          </picture>
        </div>
        <div class="partners-team__card-info">
          <p class="partners-team__card-name">Александр Ларин</p>
          <p class="partners-team__card-role">Заместитель генерального директора по&nbsp;экономике и&nbsp;финансам</p>
        </div>
      </div>

      <div class="partners-team__card">
        <div class="partners-team__card-photo">
          <picture class="partners-team__card-picture">
            <source srcset="./images/partners/team/erokhin-desktop.avif 1x, ./images/partners/team/erokhin-desktop@2x.avif 2x" media="(min-width: 1380px)" type="image/avif">
            <source srcset="./images/partners/team/erokhin-laptop.avif 1x, ./images/partners/team/erokhin-laptop@2x.avif 2x" media="(min-width: 1280px)" type="image/avif">
            <source srcset="./images/partners/team/erokhin-tablet-landscape.avif 1x, ./images/partners/team/erokhin-tablet-landscape@2x.avif 2x" media="(min-width: 1024px)" type="image/avif">
            <source srcset="./images/partners/team/erokhin-tablet.avif" media="(min-width: 768px)" type="image/avif">
            <source srcset="./images/partners/team/erokhin.avif" type="image/avif">
            <img class="partners-team__card-img" loading="lazy" src="./images/partners/team/erokhin.avif" alt="Юрий Ерохин">
          </picture>
        </div>
        <div class="partners-team__card-info">
          <p class="partners-team__card-name">Юрий Ерохин</p>
          <p class="partners-team__card-role">Директор/Заместитель директора по&nbsp;строительству</p>
        </div>
      </div>

      <div class="partners-team__card">
        <div class="partners-team__card-photo">
          <picture class="partners-team__card-picture">
            <source srcset="./images/partners/team/safonova-desktop.avif 1x, ./images/partners/team/safonova-desktop@2x.avif 2x" media="(min-width: 1380px)" type="image/avif">
            <source srcset="./images/partners/team/safonova-laptop.avif 1x, ./images/partners/team/safonova-laptop@2x.avif 2x" media="(min-width: 1280px)" type="image/avif">
            <source srcset="./images/partners/team/safonova-tablet-landscape.avif 1x, ./images/partners/team/safonova-tablet-landscape@2x.avif 2x" media="(min-width: 1024px)" type="image/avif">
            <source srcset="./images/partners/team/safonova-tablet.avif" media="(min-width: 768px)" type="image/avif">
            <source srcset="./images/partners/team/safonova.avif" type="image/avif">
            <img class="partners-team__card-img" loading="lazy" src="./images/partners/team/safonova.avif" alt="Екатерина Сафонова">
          </picture>
        </div>
        <div class="partners-team__card-info">
          <p class="partners-team__card-name">Екатерина Сафонова</p>
          <p class="partners-team__card-role">Директор по&nbsp;медицинским вопросам и&nbsp;маркетингу</p>
        </div>
      </div>

      <div class="partners-team__card">
        <div class="partners-team__card-photo">
          <picture class="partners-team__card-picture">
            <source srcset="./images/partners/team/vlasov-desktop.avif 1x, ./images/partners/team/vlasov-desktop@2x.avif 2x" media="(min-width: 1380px)" type="image/avif">
            <source srcset="./images/partners/team/vlasov-laptop.avif 1x, ./images/partners/team/vlasov-laptop@2x.avif 2x" media="(min-width: 1280px)" type="image/avif">
            <source srcset="./images/partners/team/vlasov-tablet-landscape.avif 1x, ./images/partners/team/vlasov-tablet-landscape@2x.avif 2x" media="(min-width: 1024px)" type="image/avif">
            <source srcset="./images/partners/team/vlasov-tablet.avif" media="(min-width: 768px)" type="image/avif">
            <source srcset="./images/partners/team/vlasov.avif" type="image/avif">
            <img class="partners-team__card-img" loading="lazy" src="./images/partners/team/vlasov.avif" alt="Александр Власов">
          </picture>
        </div>
        <div class="partners-team__card-info">
          <p class="partners-team__card-name">Александр Власов</p>
          <p class="partners-team__card-role">Заместитель генерального директора по&nbsp;развитию и&nbsp;производству</p>
        </div>
      </div>

      <div class="partners-team__card">
        <div class="partners-team__card-photo">
          <picture class="partners-team__card-picture">
            <source srcset="./images/partners/team/shapovalov-desktop.avif 1x, ./images/partners/team/shapovalov-desktop@2x.avif 2x" media="(min-width: 1380px)" type="image/avif">
            <source srcset="./images/partners/team/shapovalov-laptop.avif 1x, ./images/partners/team/shapovalov-laptop@2x.avif 2x" media="(min-width: 1280px)" type="image/avif">
            <source srcset="./images/partners/team/shapovalov-tablet-landscape.avif 1x, ./images/partners/team/shapovalov-tablet-landscape@2x.avif 2x" media="(min-width: 1024px)" type="image/avif">
            <source srcset="./images/partners/team/shapovalov-tablet.avif" media="(min-width: 768px)" type="image/avif">
            <source srcset="./images/partners/team/shapovalov.avif" type="image/avif">
            <img class="partners-team__card-img" loading="lazy" src="./images/partners/team/shapovalov.avif" alt="Александр Шаповалов">
          </picture>
        </div>
        <div class="partners-team__card-info">
          <p class="partners-team__card-name">Александр Шаповалов</p>
          <p class="partners-team__card-role">Коммерческий директор</p>
        </div>
      </div>

      <div class="partners-team__card">
        <div class="partners-team__card-photo">
          <picture class="partners-team__card-picture">
            <source srcset="./images/partners/team/korovkin-desktop.avif 1x, ./images/partners/team/korovkin-desktop@2x.avif 2x" media="(min-width: 1380px)" type="image/avif">
            <source srcset="./images/partners/team/korovkin-laptop.avif 1x, ./images/partners/team/korovkin-laptop@2x.avif 2x" media="(min-width: 1280px)" type="image/avif">
            <source srcset="./images/partners/team/korovkin-tablet-landscape.avif 1x, ./images/partners/team/korovkin-tablet-landscape@2x.avif 2x" media="(min-width: 1024px)" type="image/avif">
            <source srcset="./images/partners/team/korovkin-tablet.avif" media="(min-width: 768px)" type="image/avif">
            <source srcset="./images/partners/team/korovkin.avif" type="image/avif">
            <img class="partners-team__card-img" loading="lazy" src="./images/partners/team/korovkin.avif" alt="Алексей Коровкин">
          </picture>
        </div>
        <div class="partners-team__card-info">
          <p class="partners-team__card-name">Алексей Коровкин</p>
          <p class="partners-team__card-role">Директор по&nbsp;взаимодействию с&nbsp;органами государственной власти</p>
        </div>
      </div>

      <div class="partners-team__card">
        <div class="partners-team__card-photo">
          <picture class="partners-team__card-picture">
            <source srcset="./images/partners/team/agadzhanov-desktop.avif 1x, ./images/partners/team/agadzhanov-desktop@2x.avif 2x" media="(min-width: 1380px)" type="image/avif">
            <source srcset="./images/partners/team/agadzhanov-laptop.avif 1x, ./images/partners/team/agadzhanov-laptop@2x.avif 2x" media="(min-width: 1280px)" type="image/avif">
            <source srcset="./images/partners/team/agadzhanov-tablet-landscape.avif 1x, ./images/partners/team/agadzhanov-tablet-landscape@2x.avif 2x" media="(min-width: 1024px)" type="image/avif">
            <source srcset="./images/partners/team/agadzhanov-tablet.avif" media="(min-width: 768px)" type="image/avif">
            <source srcset="./images/partners/team/agadzhanov.avif" type="image/avif">
            <img class="partners-team__card-img" loading="lazy" src="./images/partners/team/agadzhanov.avif" alt="Георгий Агаджанов">
          </picture>
        </div>
        <div class="partners-team__card-info">
          <p class="partners-team__card-name">Георгий Агаджанов</p>
          <p class="partners-team__card-role">Директор по&nbsp;взаимодействию с&nbsp;органами государственной власти</p>
        </div>
      </div>

      <div class="partners-team__card">
        <div class="partners-team__card-photo">
          <picture class="partners-team__card-picture">
            <source srcset="./images/partners/team/savina-desktop.avif 1x, ./images/partners/team/savina-desktop@2x.avif 2x" media="(min-width: 1380px)" type="image/avif">
            <source srcset="./images/partners/team/savina-laptop.avif 1x, ./images/partners/team/savina-laptop@2x.avif 2x" media="(min-width: 1280px)" type="image/avif">
            <source srcset="./images/partners/team/savina-tablet-landscape.avif 1x, ./images/partners/team/savina-tablet-landscape@2x.avif 2x" media="(min-width: 1024px)" type="image/avif">
            <source srcset="./images/partners/team/savina-tablet.avif" media="(min-width: 768px)" type="image/avif">
            <source srcset="./images/partners/team/savina.avif" type="image/avif">
            <img class="partners-team__card-img" loading="lazy" src="./images/partners/team/savina.avif" alt="Ирина Савина">
          </picture>
        </div>
        <div class="partners-team__card-info">
          <p class="partners-team__card-name">Ирина Савина</p>
          <p class="partners-team__card-role">Директор по&nbsp;правовым вопросам</p>
        </div>
      </div>

      <div class="partners-team__card">
        <div class="partners-team__card-photo">
          <picture class="partners-team__card-picture">
            <source srcset="./images/partners/team/sizova-desktop.avif 1x, ./images/partners/team/sizova-desktop@2x.avif 2x" media="(min-width: 1380px)" type="image/avif">
            <source srcset="./images/partners/team/sizova-laptop.avif 1x, ./images/partners/team/sizova-laptop@2x.avif 2x" media="(min-width: 1280px)" type="image/avif">
            <source srcset="./images/partners/team/sizova-tablet-landscape.avif 1x, ./images/partners/team/sizova-tablet-landscape@2x.avif 2x" media="(min-width: 1024px)" type="image/avif">
            <source srcset="./images/partners/team/sizova-tablet.avif" media="(min-width: 768px)" type="image/avif">
            <source srcset="./images/partners/team/sizova.avif" type="image/avif">
            <img class="partners-team__card-img" loading="lazy" src="./images/partners/team/sizova.avif" alt="Людмила Сизова">
          </picture>
        </div>
        <div class="partners-team__card-info">
          <p class="partners-team__card-name">Людмила Сизова</p>
          <p class="partners-team__card-role">Директор департамента качества</p>
        </div>
      </div>

      <div class="partners-team__card">
        <div class="partners-team__card-photo">
          <picture class="partners-team__card-picture">
            <source srcset="./images/partners/team/lokatkina-desktop.avif 1x, ./images/partners/team/lokatkina-desktop@2x.avif 2x" media="(min-width: 1380px)" type="image/avif">
            <source srcset="./images/partners/team/lokatkina-laptop.avif 1x, ./images/partners/team/lokatkina-laptop@2x.avif 2x" media="(min-width: 1280px)" type="image/avif">
            <source srcset="./images/partners/team/lokatkina-tablet-landscape.avif 1x, ./images/partners/team/lokatkina-tablet-landscape@2x.avif 2x" media="(min-width: 1024px)" type="image/avif">
            <source srcset="./images/partners/team/lokatkina-tablet.avif" media="(min-width: 768px)" type="image/avif">
            <source srcset="./images/partners/team/lokatkina.avif" type="image/avif">
            <img class="partners-team__card-img" loading="lazy" src="./images/partners/team/lokatkina.avif" alt="Татьяна Локаткина">
          </picture>
        </div>
        <div class="partners-team__card-info">
          <p class="partners-team__card-name">Татьяна Локаткина</p>
          <p class="partners-team__card-role">Глава PR-службы</p>
        </div>
      </div>
    </div>
  </div>
</section>
