<section class="sitemap">
  <div class="sitemap__wrapper wrapper">
    <h1 class="sitemap__title">Карта сайта</h1>

    <div class="sitemap__grid">
      <div class="sitemap__col">
        <a class="sitemap__link" href="about.html">О нас</a>

        <div class="sitemap__group">
          <a class="sitemap__link" href="products.html">Продукты</a>
          <ul class="sitemap__sublist">
            <li>
              <a class="sitemap__sublink" href="product.html">Вакцина против менингококковой инфекции</a>
            </li>
            <li>
              <a class="sitemap__sublink" href="product.html">Вакцина для профилактики ротавирусной инфекции</a>
            </li>
            <li>
              <a class="sitemap__sublink" href="product.html">Вакцина для профилактики кори, краснухи и&nbsp;паротита</a>
            </li>
            <li>
              <a class="sitemap__sublink" href="product.html">Синтетический гормон при дефиците прогестерона</a>
            </li>
            <li>
              <a class="sitemap__sublink" href="product.html">Вакцина против ветряной оспы</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="sitemap__col sitemap__col--news">
        <div class="sitemap__group">
          <a class="sitemap__link" href="news.html">Новости</a>
          <ul class="sitemap__sublist">
            <li>
              <a class="sitemap__sublink" href="news.html?year=2026">2026</a>
            </li>
            <li>
              <a class="sitemap__sublink" href="news.html?year=2025">2025</a>
            </li>
            <li>
              <a class="sitemap__sublink" href="news.html?year=2024">2024</a>
            </li>
            <li>
              <a class="sitemap__sublink" href="news.html?year=2023">2023</a>
            </li>
            <li>
              <a class="sitemap__sublink" href="news.html?year=2022">2022</a>
            </li>
            <li>
              <a class="sitemap__sublink" href="news.html?year=2021">2021</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="sitemap__col">
        <a class="sitemap__link" href="#">Партнерам</a>
        <a class="sitemap__link" href="career.html">Карьера</a>
        <a class="sitemap__link" href="#">Контакты</a>
        <a class="sitemap__link" href="#">Фармаконадзор</a>
        <a class="sitemap__link" href="sitemap.html">Карта сайта</a>
      </div>

      <div class="sitemap__col">
        <a class="sitemap__link" href="#">Публичная оферта</a>
        <a class="sitemap__link" href="#">Политика конфиденциальности</a>
        <a class="sitemap__link" href="#">Политика обработки персональных данных</a>
        <a class="sitemap__link" href="#">Комплаенс</a>
      </div>
    </div>
  </div>
</section>
