.hero {
  position: relative;
  height: calc(100svh - var(--body-offset));
  display: flex;
  flex-direction: column;

  @media (--tablet) {
    height: auto;
  }

  /* Контент */

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  /* Фон */

  &__bg {
    position: absolute;
    inset: 0;
    z-index: -1;
    overflow: hidden;

    &-picture {
      display: block;
      height: 100%;
    }

    &-image {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;
    }

    &-gradient {
      position: absolute;
      left: 0;
      right: 0;
      z-index: 1;

      &--top {
        top: 0;
        height: 100px;
        background: linear-gradient(to top, rgba(254, 254, 255, 0) 5%, var(--color-white) 85%);

        @media (--tablet) {
          height: 149px;
        }
      }

      &--bottom {
        bottom: 0;
        height: 163px;
        background: linear-gradient(to bottom, rgba(254, 254, 255, 0) 5%, var(--color-white) 85%);

        @media (--tablet) {
          height: 90px;
        }
      }
    }
  }

  /* Заголовок */

  &__title {
    @mixin font Bebas Neue;

    margin: 0;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-weight: 400;
    font-size: 40px;
    line-height: 0.95;
    text-transform: uppercase;
    text-align: center;

    @media (--tablet) {
      gap: 8px;
      font-size: 48px;
      line-height: 1.1;
      letter-spacing: 0.02em;
    }

    &-blue {
      color: var(--color-blue);
    }

    &-red {
      color: var(--color-red);
    }
  }

  /* Нижний блок */

  &__bottom {
    margin-top: auto;
    padding-bottom: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
  }

  /* Блок компании */

  &__company {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &-info {
      display: flex;
      flex-direction: column;
      gap: 8px;

      @media (--tablet) {
        gap: 12px;
      }
    }

    &-icon {
      font-size: 32px;
      color: var(--color-red);
      cursor: default;
    }

    &-text {
      display: flex;
      flex-direction: column;
      color: var(--color-blue);
    }

    &-name {
      font-size: 16px;
      line-height: 1.2;
      letter-spacing: -0.03em;

      @media (--tablet) {
        font-size: 20px;
      }
    }

    &-desc {
      font-size: 12px;
      font-weight: 500;
      line-height: 1.1;

      @media (--tablet) {
        font-size: 14px;
      }
    }

    &-founded {
      margin: 0;
      font-size: 10px;
      line-height: 1.1;
      letter-spacing: -0.03em;
      text-transform: uppercase;
      color: var(--color-red);

      @media (--tablet) {
        font-size: 12px;
      }
    }
  }

  /* Блок преимуществ */

  &__features {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: flex-end;
  }

  &__feature {
    display: flex;
    align-items: center;
    gap: 8px;

    @media (--tablet) {
      gap: 12px;
    }

    &-icon {
      font-size: 20px;
      color: var(--color-red);
      cursor: default;
      flex-shrink: 0;
    }

    &-text {
      font-size: 12px;
      line-height: 1.1;
      letter-spacing: -0.03em;
      text-transform: uppercase;
      color: var(--color-blue);
      white-space: nowrap;
    }
  }
}
