.hero {
  position: relative;
  height: calc(100svh);
  display: flex;
  flex-direction: column;

  @media (--tablet) {
    height: auto;
    min-height: 50svh;
  }

  @media (--tablet-landscape) {
    min-height: 96svh;
    padding-bottom: 60px;
  }

  /* Контент */

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;

    padding-top: var(--body-offset);
  }

  /* Фон */

  &__bg {
    position: absolute;
    inset: 0;
    z-index: -1;
    overflow: hidden;

    &-picture {
      display: block;
      height: 85%;

      @media (--tablet) {
        height: 100%;
      }
    }

    &-image {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;
    }

    &-gradient {
      position: absolute;
      left: 0;
      right: 0;
      z-index: 1;

      &--top {
        top: 0;
        height: 100px;
        background: linear-gradient(to top, rgba(254, 254, 255, 0) 5%, var(--color-white) 85%);

        @media (--tablet) {
          height: 149px;
        }

        @media (--desktop) {
          height: 211px;
        }
      }

      &--bottom {
        bottom: 0;
        height: 163px;
        background: linear-gradient(to bottom, rgba(254, 254, 255, 0) 5%, var(--color-white) 45%);

        @media (--tablet) {
          height: 90px;
          background: linear-gradient(to bottom, rgba(254, 254, 255, 0) 5%, var(--color-white) 85%);
        }

        @media (--tablet-landscape) {
          height: 129px;
        }

        @media (--desktop) {
          height: 160px;
        }
      }
    }
  }

  /* Заголовок */

  &__title {
    @mixin font Bebas Neue;

    margin: 0;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-weight: 400;
    font-size: 40px;
    line-height: 0.95;
    text-transform: uppercase;
    text-align: center;

    @media (--tablet) {
      gap: 8px;
      font-size: 48px;
      line-height: 1.1;
      letter-spacing: 0.02em;
    }

    @media (--tablet-landscape) {
      gap: 16px;
      line-height: .7;
      font-size: 64px;
    }

    @media (--laptop) {
      gap: 24px;
      font-size: 84px;
      letter-spacing: 0;
      white-space: nowrap;
    }

    @media (--desktop) {
      gap: 30px;
      letter-spacing: 0.02em;
    }

    @media (min-width: 1500px) {
      font-size: 130px;
    }

    &-blue {
      color: var(--color-blue);
    }

    &-red {
      color: var(--color-red);
    }
  }

  /* Нижний блок */

  &__bottom {
    margin-top: auto;
    padding-bottom: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;

    @media (--tablet) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  /* Блок компании */

  &__company {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (--laptop) {
      gap: 24px;
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: 8px;

      @media (--tablet) {
        gap: 12px;
      }

      @media (--laptop) {
        gap: 16px;
        max-width: 320px;
      }
    }

    &-icon {
      font-size: 32px;
      color: var(--color-red);
      cursor: default;

      @media (--tablet-landscape) {
        font-size: 40px;
      }

      @media (--laptop) {
        font-size: 56px;
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
      color: var(--color-blue);
    }

    &-name {
      font-size: 16px;
      line-height: 1.2;
      letter-spacing: -0.03em;

      @media (--tablet) {
        font-size: 20px;
      }

      @media (--tablet-landscape) {
        font-size: 24px;
      }

      @media (--laptop) {
        font-size: 32px;
      }

      @media (--desktop) {
        font-size: 40px;
      }
    }

    &-desc {
      font-size: 12px;
      font-weight: 500;
      line-height: 1.1;

      @media (--tablet) {
        font-size: 14px;
      }

      @media (--tablet-landscape) {
        font-size: 16px;
      }

      @media (--laptop) {
        font-size: 20px;
      }
    }

    &-founded {
      margin: 0;
      font-size: 10px;
      line-height: 1.1;
      letter-spacing: -0.03em;
      text-transform: uppercase;
      color: var(--color-red);

      @media (--tablet) {
        font-size: 12px;
      }

      @media (--tablet-landscape) {
        font-size: 14px;
      }
    }
  }

  /* Блок преимуществ */

  &__features {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: flex-end;

    @media (--tablet) {
      grid-column: 3;
      justify-self: end;
    }

    @media (--tablet-landscape) {
      gap: 24px;
    }

    @media (--desktop) {
      gap: 40px;
    }
  }

  &__feature {
    display: flex;
    align-items: center;
    gap: 8px;

    @media (--tablet) {
      gap: 12px;
    }

    @media (--laptop) {
      gap: 16px;
    }

    &-icon {
      font-size: 20px;
      color: var(--color-red);
      cursor: default;
      flex-shrink: 0;

      @media (--tablet-landscape) {
        font-size: 24px;
      }

      @media (--laptop) {
        font-size: 32px;
      }
    }

    &-text {
      font-size: 12px;
      line-height: 1.1;
      letter-spacing: -0.03em;
      text-transform: uppercase;
      color: var(--color-blue);
      white-space: nowrap;

      @media (--tablet-landscape) {
        font-size: 16px;
      }

      @media (--laptop) {
        font-size: 20px;
      }

      @media (--desktop) {
        font-size: 24px;
      }
    }
  }
}
