<section class="article">
  <div class="article__wrapper wrapper">
    <div class="article__banner">
      <h2 class="article__accent-title">Акцидентный заголовок</h2>

      <p class="article__lead article__lead--accent">В рамках реализации своей миссии, заключающейся в повышении доступности высококачественных лекарственных препаратов для российских пациентов, компания «ФАРМ ЭЙД» объявляет о расширении своего портфеля и регистрации лекарственного препарата для поддержки женского здоровья — «Фертижен®» (МНН — дидрогестерон), предназначенного для применения в гинекологической практике — в первую очередь для лечения бесплодия и иных состояний, связанных с недостаточностью прогестерона.</p>
    </div>

    <div class="article__banner article__banner--h1">
      <h2 class="article__title">Компания «ФАРМ ЭЙД» расширяет портфель препаратов за счет нового сегмента — препаратов для поддержки женского здоровья</h2>

      <p class="article__lead">В рамках реализации своей миссии, заключающейся в повышении доступности высококачественных лекарственных препаратов для российских пациентов, компания «ФАРМ ЭЙД» объявляет о расширении своего портфеля и регистрации лекарственного препарата для поддержки женского здоровья — «Фертижен®» (МНН — дидрогестерон), предназначенного для применения в гинекологической практике.</p>
    </div>

    <div class="article__block article__block--wide">
      <h2>«ФАРМ ЭЙД» — ведущий поставщик вакцины</h2>

      <p>В рамках реализации своей миссии, заключающейся в повышении доступности высококачественных лекарственных препаратов для российских пациентов, компания «ФАРМ ЭЙД» объявляет о расширении своего портфеля и регистрации лекарственного препарата для поддержки женского здоровья — «Фертижен®» (МНН — дидрогестерон), предназначенного для применения в гинекологической практике — в первую очередь для лечения бесплодия и иных состояний, связанных с недостаточностью прогестерона.</p>
    </div>

    <div class="article__block">
      <h3>Ведущий поставщик вакцины</h3>

      <p>В рамках реализации своей миссии, заключающейся в повышении доступности высококачественных лекарственных препаратов для российских пациентов, компания «ФАРМ ЭЙД» объявляет о расширении своего портфеля и регистрации лекарственного препарата для поддержки женского здоровья — «Фертижен®» (МНН — дидрогестерон), предназначенного для применения в гинекологической практике.</p>
    </div>

    <div class="article__block">
      <h4>Ведущий поставщик вакцины</h4>

      <p>В рамках реализации своей миссии, заключающейся в повышении доступности высококачественных лекарственных препаратов для российских пациентов, компания «ФАРМ ЭЙД» объявляет о расширении своего портфеля и регистрации лекарственного препарата для поддержки женского здоровья — «Фертижен®» (МНН — дидрогестерон), предназначенного для применения в гинекологической практике.</p>
    </div>

    <div class="media-text article__full">
      <div class="media-text__row media-text__row--media-first">
        <div class="media-text__media">
          <picture class="media-text__media-picture">
            <source srcset="./images/about/about-vials-desktop.avif 1x, ./images/about/about-vials-desktop@2x.avif 2x" media="(min-width: 1380px)" type="image/avif">
            <source srcset="./images/about/about-vials-laptop.avif 1x, ./images/about/about-vials-laptop@2x.avif 2x" media="(min-width: 1280px)" type="image/avif">
            <source srcset="./images/about/about-vials-tablet-landscape.avif 1x, ./images/about/about-vials-tablet-landscape@2x.avif 2x" media="(min-width: 1024px)" type="image/avif">
            <source srcset="./images/about/about-vials-tablet.avif" media="(min-width: 768px)" type="image/avif">
            <source srcset="./images/about/about-vials.avif" type="image/avif">
            <img class="media-text__media-image" src="./images/about/about-vials.avif" alt="">
          </picture>
        </div>

        <div class="media-text__content">
          <div class="media-text__text">
            <p class="media-text__paragraph">Деятельность компании направлена на обеспечение доступа населения к современным решениям в области профилактики инфекционных заболеваний, а также к биотехнологическим препаратам для лечения онкологии.</p>
            <p class="media-text__paragraph">Для этого компания выстраивает стратегические партнерства с международными биофармацевтическими производителями, обеспечивая вывод востребованных продуктов и технологий на российский рынок.</p>
          </div>

          <div class="media-text__thumb">
            <img class="media-text__thumb-image" src="./images/about/about-thumb.avif" alt="">
          </div>
        </div>
      </div>

      <div class="media-text__row media-text__row--text-first">
        <div class="media-text__side">
          <div class="media-text__group">
            <p class="media-text__title">Компания реализует проект национального масштаба — строительство современного биофармацевтического комплекса полного цикла</p>
            <p class="media-text__paragraph">Запуск производства позволит выпускать стратегически значимые лекарственные препараты, в числе которых вакцины для профилактики ротавирусной инфекции, менингококковой инфекции, ветряной оспы, а также препараты моноклональных антител для лечения онкологических заболеваний.</p>
          </div>

          <div class="media-text__note">
            <p class="media-text__note-text">Мы уверены, что предприятие «ФАРМ ЭЙД» обеспечит России бесперебойные поставки иммунобиологических препаратов и современных лекарственных средств для профилактики и лечения серьезных заболеваний.</p>
          </div>
        </div>

        <div class="media-text__media">
          <picture class="media-text__media-picture">
            <source srcset="./images/about/about-factory-desktop.avif 1x, ./images/about/about-factory-desktop@2x.avif 2x" media="(min-width: 1380px)" type="image/avif">
            <source srcset="./images/about/about-factory-laptop.avif 1x, ./images/about/about-factory-laptop@2x.avif 2x" media="(min-width: 1280px)" type="image/avif">
            <source srcset="./images/about/about-factory-tablet-landscape.avif 1x, ./images/about/about-factory-tablet-landscape@2x.avif 2x" media="(min-width: 1024px)" type="image/avif">
            <source srcset="./images/about/about-factory-tablet.avif" media="(min-width: 768px)" type="image/avif">
            <source srcset="./images/about/about-factory.avif" type="image/avif">
            <img class="media-text__media-image" src="./images/about/about-factory.avif" alt="">
          </picture>
        </div>
      </div>
    </div>

    <div class="article__media">
      <picture class="article__media-picture">
        <source srcset="./images/news-page/news-card-1-banner.avif 1x, ./images/news-page/news-card-1-banner@2x.avif 2x" media="(min-width: 1380px)" type="image/avif">
        <source srcset="./images/news-page/news-card-1-banner-laptop.avif 1x, ./images/news-page/news-card-1-banner-laptop@2x.avif 2x" media="(min-width: 1280px)" type="image/avif">
        <source srcset="./images/news-page/news-card-1-banner-tablet-landscape.avif 1x, ./images/news-page/news-card-1-banner-tablet-landscape@2x.avif 2x" media="(min-width: 1024px)" type="image/avif">
        <source srcset="./images/news-page/news-card-1-tablet.avif" media="(min-width: 768px)" type="image/avif">
        <source srcset="./images/news-page/news-card-1.avif" type="image/avif">
        <img class="article__media-image" src="./images/news-page/news-card-1.avif" alt="">
      </picture>

      <div class="article__media-text">
        <p>В рамках реализации своей миссии, заключающейся в повышении доступности высококачественных лекарственных препаратов для российских пациентов, компания «ФАРМ ЭЙД» объявляет о расширении своего портфеля и регистрации лекарственного препарата для поддержки женского здоровья — «Фертижен®» (МНН — дидрогестерон), предназначенного для применения в гинекологической практике — в первую очередь для лечения бесплодия и иных состояний, связанных с недостаточностью прогестерона.</p>
      </div>
    </div>

    <figure class="article__quote">
      <div class="article__quote-body">
        <div class="article__quote-marks">
          <span class="article__quote-mark"></span>
          <span class="article__quote-mark"></span>
        </div>

        <p class="article__quote-text">Дидрогестерон является «золотым стандартом» терапии прогестерондефицитных состояний в репродуктологии и акушерстве-гинекологии во всем мире. Включение препарата «Фертижен®» в наш портфель — это ответ на запрос медицинского сообщества и пациентов на качественную и доступную терапию</p>

        <p class="article__quote-note">Прокомментировал генеральный директор компании Азамат Метов.</p>
      </div>

      <figcaption class="article__quote-author">
        <picture class="article__quote-photo">
          <source srcset="./images/news-detail/quote-author-desktop.avif 1x, ./images/news-detail/quote-author-desktop@2x.avif 2x" media="(min-width: 1380px)" type="image/avif">
          <source srcset="./images/news-detail/quote-author-tablet.avif" media="(min-width: 768px)" type="image/avif">
          <source srcset="./images/news-detail/quote-author.avif" type="image/avif">
          <img class="article__quote-image" src="./images/news-detail/quote-author.avif" alt="">
        </picture>

        <div class="article__quote-caption">
          <p class="article__quote-name">Азамат Метов</p>
          <p class="article__quote-role">генеральный директор «ФАРМ ЭЙД»</p>
        </div>
      </figcaption>
    </figure>

    <ul>
      <li>Мы разделяем ответственность;</li>
      <li>Мы продвигаем инновации;</li>
      <li>Мы проявляем тщательность и профессионализм в планировании и исполнении;</li>
      <li>Мы поощряем доверие и взаимоуважение.</li>
    </ul>

    <ol>
      <li>Мы разделяем ответственность;</li>
      <li>Мы продвигаем инновации;</li>
      <li>Мы проявляем тщательность и профессионализм в планировании и исполнении;</li>
      <li>Мы поощряем доверие и взаимоуважение.</li>
    </ol>

    <p>В рамках реализации своей миссии, заключающейся в повышении доступности высококачественных лекарственных препаратов для российских пациентов, <a href="about.html">компания «ФАРМ ЭЙД»</a> объявляет о расширении своего портфеля и регистрации лекарственного препарата для поддержки женского здоровья — «Фертижен®» (МНН — дидрогестерон), предназначенного для применения в гинекологической практике — в первую очередь для лечения бесплодия и иных состояний, связанных с недостаточностью прогестерона.</p>

    <div class="article__table">
      <table>
        <thead>
          <tr>
            <th>Продукт</th>
            <th>Форма выпуска</th>
            <th>Дозировка</th>
            <th>Упаковка</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td data-label="Продукт">Вакцина против менингококковой инфекции</td>
            <td data-label="Форма выпуска">В таблетках</td>
            <td data-label="Дозировка">0,5 мл</td>
            <td data-label="Упаковка">1 флакон</td>
          </tr>
          <tr>
            <td data-label="Продукт">Вакцина против ротавирусной инфекции</td>
            <td data-label="Форма выпуска">Раствор для приема внутрь</td>
            <td data-label="Дозировка">2 мл</td>
            <td data-label="Упаковка">10 флаконов</td>
          </tr>
          <tr>
            <td data-label="Продукт">Вакцина против кори, краснухи и паротита</td>
            <td data-label="Форма выпуска">Лиофилизат</td>
            <td data-label="Дозировка">0,5 мл</td>
            <td data-label="Упаковка">1 флакон</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
