<section class="career-about section">
  <div class="career-about__wrapper wrapper">
    <div class="section__header">
      <p class="section__label">О компании</p>

      <h2 class="section__heading">
        <span class="career-about__heading-accent">Принципы устойчивого развития</span>
        лежат
        <span class="career-about__heading-accent">в&nbsp;основе</span>
        деятельности
        <span class="career-about__heading-accent">«ФАРМ&nbsp;ЭЙД»</span>
      </h2>

      <p class="career-about__desc">
        Компания выстраивает долгосрочные партнерские отношения, соблюдая
        социальную, экономическую и&nbsp;экологическую ответственность.
      </p>

      <p class="career-about__subtitle">Почему специалисты выбирают нас</p>
    </div>

    <div class="career-about__advantages">
      <div class="career-about__cards">
        <div class="career-about__card">
          <img class="career-about__card-icon" src="./images/career/career-graph.svg" alt="" width="40" height="40">
          <div class="career-about__card-body">
            <p class="career-about__card-title">Масштабные проекты</p>
            <p class="career-about__card-text">
              Мы участвуем в&nbsp;реализации проектов национального уровня
              в&nbsp;сфере биофармацевтики и&nbsp;современных медицинских технологий
            </p>
          </div>
        </div>

        <div class="career-about__card">
          <img class="career-about__card-icon" src="./images/career/career-course-up.svg" alt="" width="40" height="40">
          <div class="career-about__card-body">
            <p class="career-about__card-title">Профессиональное развитие</p>
            <p class="career-about__card-text">
              В&nbsp;компании создаются условия для постоянного обучения,
              развития экспертизы и&nbsp;профессионального роста сотрудников
            </p>
          </div>
        </div>

        <div class="career-about__card">
          <img class="career-about__card-icon" src="./images/career/career-cup.svg" alt="" width="40" height="40">
          <div class="career-about__card-body">
            <p class="career-about__card-title">Сильная команда</p>
            <p class="career-about__card-text">
              ФАРМ ЭЙД объединяет специалистов, ориентированных на&nbsp;качество,
              ответственность и&nbsp;достижение результата
            </p>
          </div>
        </div>

        <div class="career-about__card">
          <img class="career-about__card-icon" src="./images/career/career-rocket.svg" alt="" width="40" height="40">
          <div class="career-about__card-body">
            <p class="career-about__card-title">Современный подход</p>
            <p class="career-about__card-text">
              Мы развиваем гибкие процессы управления, аналитический подход
              к&nbsp;принятию решений и&nbsp;культуру постоянного совершенствования
            </p>
          </div>
        </div>

        <div class="career-about__card">
          <img class="career-about__card-icon" src="./images/career/career-earth.svg" alt="" width="40" height="40">
          <div class="career-about__card-body">
            <p class="career-about__card-title">Международное сотрудничество</p>
            <p class="career-about__card-text">
              Компания выстраивает партнёрства с&nbsp;ведущими мировыми
              биофармацевтическими производителями и&nbsp;участвует в&nbsp;трансфере технологий
            </p>
          </div>
        </div>

        <div class="career-about__card">
          <img class="career-about__card-icon" src="./images/career/career-chart.svg" alt="" width="40" height="40">
          <div class="career-about__card-body">
            <p class="career-about__card-title">Значимый результат</p>
            <p class="career-about__card-text">
              Наша деятельность направлена на&nbsp;обеспечение населения современными
              препаратами для профилактики и&nbsp;лечения серьёзных заболеваний
            </p>
          </div>
        </div>
      </div>

      <a class="career-about__button button-blue" href="#">Отправить резюме</a>
    </div>
  </div>
</section>
