<section class="inner-hero career-hero">
  <div class="inner-hero__bg">
    <picture class="inner-hero__bg-picture">
      <source srcset="./images/career/career-hero-bg-desktop.avif" media="(min-width: 1380px)" type="image/avif">
      <source srcset="./images/career/career-hero-bg-laptop.avif" media="(min-width: 1280px)" type="image/avif">
      <source srcset="./images/career/career-hero-bg-tablet-landscape.avif" media="(min-width: 1024px)" type="image/avif">
      <source srcset="./images/career/career-hero-bg-tablet.avif" media="(min-width: 768px)" type="image/avif">
      <source srcset="./images/career/career-hero-bg.avif" type="image/avif">
      <img class="inner-hero__bg-image" src="./images/career/career-hero-bg.avif" alt="">
    </picture>
  </div>

  <div class="inner-hero__wrapper wrapper">
    <h1 class="inner-hero__title">Карьера в&nbsp;Фарм Эйд</h1>
  </div>
</section>
