<section class="career-hero">
  <div class="career-hero__bg">
    <picture class="career-hero__bg-picture">
      <source srcset="./images/career/career-hero-bg-desktop.avif" media="(min-width: 1380px)" type="image/avif">
      <source srcset="./images/career/career-hero-bg-laptop.avif" media="(min-width: 1280px)" type="image/avif">
      <source srcset="./images/career/career-hero-bg-tablet-landscape.avif" media="(min-width: 1024px)" type="image/avif">
      <source srcset="./images/career/career-hero-bg-tablet.avif" media="(min-width: 768px)" type="image/avif">
      <source srcset="./images/career/career-hero-bg.avif" type="image/avif">
      <img class="career-hero__bg-image" src="./images/career/career-hero-bg.avif" alt="">
    </picture>
  </div>

  <div class="career-hero__wrapper wrapper">
    <h1 class="career-hero__title">Карьера в Фарм Эйд</h1>
  </div>
</section>
