<section class="career-values section">
  <div class="career-values__wrapper wrapper">
    <div class="section__header">
      <p class="section__label">Карьера</p>

      <h2 class="section__heading">
        В&nbsp;компании сформирована среда, способствующая профессиональному
        росту и&nbsp;реализации потенциала сотрудников
      </h2>
    </div>

    <div class="career-values__attention">
      <p class="career-values__subtitle">Мы уделяем внимание:</p>

      <div class="career-values__cards">
        <div class="career-values__card">
          <span class="career-values__card-icon career-values__card-icon--heart-pulse"></span>
          <p class="career-values__card-text">
            Качеству<br>и&nbsp;безопасности продукции
          </p>
        </div>

        <div class="career-values__card">
          <span class="career-values__card-icon career-values__card-icon--school-case"></span>
          <p class="career-values__card-text">
            Долгосрочным партнёрствам
          </p>
        </div>

        <div class="career-values__card">
          <span class="career-values__card-icon career-values__card-icon--leaf"></span>
          <p class="career-values__card-text">
            Экологической ответственности
          </p>
        </div>

        <div class="career-values__card">
          <span class="career-values__card-icon career-values__card-icon--buildings"></span>
          <p class="career-values__card-text">
            Развитию современной производственной инфраструктуры
          </p>
        </div>
      </div>
    </div>

    <div class="career-values__corporate">
      <p class="career-values__subtitle">Корпоративные ценности</p>

      <div class="career-values__corporate-content">
        <img
          class="career-values__photo"
          src="./images/career/career-values-photo.avif"
          alt="Корпоративные ценности"
          width="358"
          height="340"
        >

        <div class="career-values__info">
        <p class="career-values__intro">
          Корпоративная культура строится на&nbsp;принципах:
        </p>

        <ul class="career-values__list">
          <li class="career-values__list-item">
            <span class="career-values__check"></span>
            Ответственности
          </li>
          <li class="career-values__list-item">
            <span class="career-values__check"></span>
            Профессионализма
          </li>
          <li class="career-values__list-item">
            <span class="career-values__check"></span>
            Доверия
          </li>
          <li class="career-values__list-item">
            <span class="career-values__check"></span>
            Взаимного уважения
          </li>
        </ul>

        <p class="career-values__paragraph">
          Задачи, стоящие перед компанией, требуют постоянного развития
          и&nbsp;мобилизации возможностей, что обеспечивается за&nbsp;счет
          анализа бизнес-процессов и&nbsp;гибкого управления изменениями.
        </p>

        <a class="career-values__button button-blue" href="#career-form">Отправить резюме</a>
        </div>

        <div class="career-values__sidebar">
          <img
            class="career-values__sidebar-photo"
            src="./images/career/career-values-photo-2.avif"
            alt="Команда"
            width="192"
            height="192"
          >
          <a class="career-values__sidebar-button button-blue" href="#career-form">Отправить резюме</a>
        </div>
      </div>
    </div>
  </div>
</section>
