<footer class="page-footer">
  <div class="wrapper">

    <!-- Логотип и кнопки -->
    <div class="page-footer__top">
      <img class="page-footer__logo" src="./images/footer/logo-pharmaid.svg" alt="PharmAid" width="197" height="32">

      <div class="page-footer__actions">
        <a class="button-primary" href="#">Связаться с нами</a>

        <div class="language-switcher">
          <span class="language-switcher__label">RU</span>
          <span class="language-switcher__icon"></span>
        </div>
      </div>
    </div>

    <!-- Навигация и контакты -->
    <div class="page-footer__body">
      <nav class="footer-menu">
        <div class="footer-menu__col">
          <a class="footer-menu__link" href="#">О нас</a>
          <a class="footer-menu__link" href="#">Продукты</a>
          <a class="footer-menu__link" href="#">Партнерам</a>
          <a class="footer-menu__link" href="#">Карьера</a>
        </div>
        <div class="footer-menu__col">
          <a class="footer-menu__link" href="#">Новости</a>
          <a class="footer-menu__link" href="#">Контакты</a>
          <a class="footer-menu__link" href="#">Фармаконадзор</a>
          <a class="footer-menu__link" href="#">Карта сайта</a>
        </div>
      </nav>

      <div class="page-footer__contacts">
        <a class="page-footer__phone" href="tel:+74954774424">+7 (495) 477-44-24</a>
        <a class="page-footer__email" href="mailto:info@pharmaid.com">info@pharmaid.com</a>
      </div>
    </div>

    <!-- Нижняя часть -->
    <div class="page-footer__bottom">
      <div class="page-footer__events-legal">
        <a class="page-footer__events" href="#">
          <span class="page-footer__events-icon"></span>
          <span class="page-footer__events-text">Мероприятия компании</span>
        </a>

        <div class="page-footer__legal">
        <a class="page-footer__legal-link" href="#">Публичная оферта</a>
        <a class="page-footer__legal-link" href="#">Политика конфиденциальности</a>
        <a class="page-footer__legal-link" href="#">Политика обработки персональных данных</a>
        <a class="page-footer__legal-link" href="#">Комплаенс</a>
        </div>
      </div>

      <div class="page-footer__copyright">
        <span class="page-footer__copyright-text">ФАРМ ЭЙД ЛТД © 2026</span>
        <span class="page-footer__copyright-dev">
          Разработано в
          <img class="page-footer__copyright-logo" src="./images/footer/logo-ustrong.svg" alt="Ustrong" width="59" height="20">
        </span>
      </div>
    </div>

  </div>
</footer>
