<header style="position: fixed;" id="header" class="page-header headroom--faded">
  <div class="wrapper">
    <div class="page-header__bar">
      <a class="page-header__logo" href="/">
        <img src="./images/logo.svg" alt="PharmAid" width="98" height="16">
      </a>

      <nav class="page-header__nav">
        <a class="page-header__nav-link" href="#">О нас</a>
        <div class="page-header__dropdown">
          <a class="page-header__nav-link page-header__nav-link--dropdown" href="products.html">
            Продукты
            <span class="page-header__nav-chevron"></span>
          </a>

          <div class="page-header__dropdown-panel">
            <a class="page-header__dropdown-link" href="product.html">
              Вакцина для профилактики ротавирусной инфекции
            </a>
            <a class="page-header__dropdown-link" href="product.html">
              Вакцина против менингококковой инфекции
            </a>
            <a class="page-header__dropdown-link" href="product.html">
              Вакцина для профилактики кори, краснухи и паротита
            </a>
            <a class="page-header__dropdown-link" href="product.html">
              Синтетический гормон при дефиците прогестерона
            </a>
            <a class="page-header__dropdown-link" href="product.html">
              Вакцина против ветряной оспы
              <span class="page-header__dropdown-badge">В разработке</span>
            </a>
          </div>
        </div>
        <a class="page-header__nav-link" href="#">Партнерам</a>
        <a class="page-header__nav-link" href="#">Карьера</a>
        <a class="page-header__nav-link" href="#">Новости</a>
        <a class="page-header__nav-link" href="#">Контакты</a>
      </nav>

      <div class="page-header__actions">
        <div class="page-header__group">
          <button class="page-header__search" type="button" aria-label="Поиск">
            <span class="page-header__search-icon"></span>
          </button>

          <button class="page-header__lang" type="button">EN</button>
        </div>

        <c-burger-button class="page-header__burger" id="burger-button"></c-burger-button>
      </div>
    </div>
  </div>
</header>
