<c-popup id="mobile-menu" class="mobile-menu-popup" offset-header>
  <div class="mobile-menu">
    <nav class="mobile-menu__nav">
      <ul class="mobile-menu__list">
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="about.html">О нас</a>
        </li>

        <li class="mobile-menu__item">
          <details class="mobile-menu__details" open>
            <summary class="mobile-menu__summary">
              <span class="mobile-menu__link">Продукты</span>
              <span class="mobile-menu__chevron"></span>
            </summary>

            <ul class="mobile-menu__sublist">
              <li class="mobile-menu__subitem">
                <a class="mobile-menu__sublink" href="product.html">
                  Вакцина для профилактики ротавирусной инфекции
                </a>
              </li>
              <li class="mobile-menu__subitem">
                <a class="mobile-menu__sublink" href="product.html">
                  Вакцина против менингококковой инфекции
                </a>
              </li>
              <li class="mobile-menu__subitem">
                <a class="mobile-menu__sublink" href="product.html">
                  Вакцина для профилактики кори, краснухи и паротита
                </a>
              </li>
              <li class="mobile-menu__subitem">
                <a class="mobile-menu__sublink" href="product.html">
                  Синтетический гормон при дефиците прогестерона
                </a>
              </li>
              <li class="mobile-menu__subitem">
                <a class="mobile-menu__sublink" href="product.html">
                  Вакцина против ветряной оспы
                  <span class="tag tag--developing mobile-menu__badge">В разработке</span>
                </a>
              </li>
            </ul>
          </details>
        </li>
      </ul>

      <ul class="mobile-menu__list">
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="partners.html">Партнерам</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="career.html">Карьера</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="news.html">Новости</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="pharmacovigilance.html">Фармаконадзор</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="contacts.html">Контакты</a>
        </li>
      </ul>
    </nav>

    <div class="mobile-menu__footer">
      <div class="mobile-menu__contacts">
        <a class="mobile-menu__phone" href="tel:+74954774424">+7 (495) 477-44-24</a>
        <a class="mobile-menu__email" href="mailto:info@pharmaid.com">info@pharmaid.com</a>
      </div>

      <a class="mobile-menu__button button-primary" href="#">Связаться с нами</a>
    </div>
  </div>
</c-popup>

<c-popup id="success-popup">
  <div class="success-popup">
    <div class="success-popup__card">
      <img class="success-popup__icon" src="./images/success.svg" alt="">
      <p class="success-popup__text">Ваше сообщение успешно<br>отправлено!</p>
    </div>
  </div>
</c-popup>

<div class="cookie-agreement">
  <div class="cookie-agreement__card">
    <div class="cookie-agreement__container">
      <p class="cookie-agreement__text">
        Сайт использует файлы cookies и сервис сбора технических данных его посетителей.
        Продолжая использовать данный ресурс, вы соглашаетесь с использованием данных технологий
        и Политикой в отношении <a href="#">обработки персональных данных</a>
      </p>
      <button class="cookie-agreement__button" type="button">Принять</button>
    </div>
  </div>
</div>
