<c-popup id="success-popup">
  <div class="success-popup">
    <div class="success-popup__card">
      <img class="success-popup__icon" src="./images/success.svg" alt="">
      <p class="success-popup__text">Ваше сообщение успешно<br>отправлено!</p>
    </div>
  </div>
</c-popup>

<div class="cookie-agreement">
  <div class="cookie-agreement__card">
    <div class="cookie-agreement__container">
      <p class="cookie-agreement__text">
        Сайт использует файлы cookies и сервис сбора технических данных его посетителей.
        Продолжая использовать данный ресурс, вы соглашаетесь с использованием данных технологий
        и Политикой в отношении <a href="#">обработки персональных данных</a>
      </p>
      <button class="cookie-agreement__button" type="button">Принять</button>
    </div>
  </div>
</div>
