<c-popup id="product-disclaimer" persistent>
  <div class="product-disclaimer">
    <div class="product-disclaimer__card">
      <picture class="product-disclaimer__bg">
        <source srcset="./images/product-page/disclaimer-bg-desktop@2x.avif" media="(min-width: 1380px)">
        <source srcset="./images/product-page/disclaimer-bg-tablet@2x.avif" media="(min-width: 768px)">
        <img src="./images/product-page/disclaimer-bg-mobile@2x.avif" alt="">
      </picture>
      <div class="product-disclaimer__text">
        <p>Сайт содержит информацию, предназначенную исключительно
          для медицинских и фармацевтических работников.</p>

        <p>Для ознакомления с информацией просим подтвердить, что вы являетесь
          медицинским или фармацевтическим работником.</p>
      </div>
      <div class="product-disclaimer__buttons">
        <button class="product-disclaimer__button product-disclaimer__button--yes" type="button">Да</button>
        <button class="product-disclaimer__button product-disclaimer__button--no" type="button">Нет</button>
      </div>
    </div>
  </div>
</c-popup>
