<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, viewport-fit=cover, maximum-scale=1" name="viewport">
  <title><%= htmlWebpackPlugin.options.title %></title>

  <%= require('../views/preload.html').default %>

</head>
<body>
<%= require('../views/header.html').default %>

  <main class="page-career page">
    <%= require('../views/career/hero.html').default %>
    <%= require('../views/career/about.html').default %>

    <div class="career-bottom">
      <picture class="career-bottom__bg">
        <source srcset="./images/career/career-bg-desktop.avif" media="(min-width: 1380px)" type="image/avif">
        <source srcset="./images/career/career-bg-laptop.avif" media="(min-width: 1280px)" type="image/avif">
        <source srcset="./images/career/career-bg-tablet-landscape.avif" media="(min-width: 1024px)" type="image/avif">
        <source srcset="./images/career/career-bg-tablet.avif" media="(min-width: 768px)" type="image/avif">
        <img class="career-bottom__bg-image" src="./images/career/career-bg-tablet.avif" alt="" loading="lazy">
      </picture>
      <%= require('../views/career/values.html').default %>
      <%= require('../views/career/form.html').default %>
    </div>
  </main>

  <%= require('../views/footer.html').default %>

  <%= require('../views/popups.html').default %>
</body>
</html>
