<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, viewport-fit=cover, maximum-scale=1" name="viewport">
  <title><%= htmlWebpackPlugin.options.title %></title>

  <%= require('../views/preload.html').default %>

</head>
<body>
<%= require('../views/header.html').default %>

  <main class="page-home page">
    <%= require('../views/home/hero.html').default %>
    <%= require('../views/home/leadership.html').default %>
    <%= require('../views/home/about.html').default %>
    <%= require('../views/home/production.html').default %>
    <%= require('../views/home/news.html').default %>
  </main>

  <%= require('../views/footer.html').default %>

  <%= require('../views/popups.html').default %>
</body>
</html>
