<section class="breadcrumbs">
  <div class="breadcrumbs__wrapper wrapper">
    <a class="breadcrumbs__back" href="products.html" aria-label="Назад"></a>

    <nav class="breadcrumbs__nav">
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="index.html">Главная</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="products.html">Продукты</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
