<section class="product-faq">
  <div class="product-faq__wrapper wrapper">
    <div class="product-faq__header">
      <p class="product-faq__label">FAQ</p>
      <h2 class="product-faq__heading">Часто задаваемые вопросы</h2>
    </div>

    <div class="product-faq__list accordion">
      <details class="product-faq__item accordion__item" open>
        <summary class="product-faq__summary accordion__header">
          <span class="product-faq__number">01</span>
          <p class="product-faq__title accordion__title">Что за инфекции: корь, краснуха, паротит?</p>
          <span class="product-faq__icon accordion__icon"></span>
        </summary>

        <div class="product-faq__body accordion__body">
          <div class="product-faq__text">
            <p>Корь, краснуха и паротит – острые инфекционные заболевания вирусной этиологии с воздушно-капельным путем передачи 1.</p>
            <p>Корь – одно из самых контагиозных вакциноуправляемых заболеваний2. Индекс контагиозности для кори составляет около 95-100%3.</p>
            <p>Краснуха – встречается в двух формах: приобретенной и врожденной. Приобретенная краснуха характеризуется воздушно-капельным путем передачи инфекции, умеренной интоксикацией, мелкопятнистой сыпью, генерализованной лимфаденопатией4. Врожденная форма отличается трансплацентарным путем передачи, хроническим течением инфекционного процесса с формированием у плода различных пороков развития5.</p>
            <p>Эпидемический паротит  протекает с поражением железистой органов (чаще слюнные железы, особенно околоушные, реже поджелудочная железа, половые, молочные железы и др.), а также нервной системы (менингит, менингоэнцефалит)4.</p>
          </div>

          <p class="product-faq__footnote">
            1.Постановление Главного государственного санитарного врача РФ от 28.01.2021 №4» Об утверждении санитарных правил и норм СанПиН 3.3686-21 «Санитарно-эпидемиологические требования по профилактике инфекционных болезней» (вместе с СанПиН 3.3686-21 «Санитарные правила и нормы…»(зарегистрировано в Минюсте России 15.02.202 №62500); 2.WHO. Weekly epidemiological record.2017 April 28;17; 3.Беляева Н.М.,Трякина И.П.,Синикин В.А., Никитина Г.Ю.Корь: учебное пособие. Под . редакцией Н.М. Беляевой, И.П.Трякиной, В.А. Синикина, Г.Ю. Никитиной. ГБОУ ДПО «Российская медицинская академия последипломного образования». М:ГБОУДПО РМАПО,2015;36с.ISBN978-5-7249-2312-5; 4.Детские болезни: учебник. Под.ред. А.А. Баранова М.: ГЕОТАР-МЕД,2002;880с.:ил(серия»XXIвек»).ISBN 5-9231-0188-2; 5. Государственный доклад «О состоянии санитарно-эпидемиологического благополучия населения в Российской Федерации в 2023году»
          </p>
        </div>
      </details>

      <details class="product-faq__item accordion__item">
        <summary class="product-faq__summary accordion__header">
          <span class="product-faq__number">02</span>
          <p class="product-faq__title accordion__title">В чем опасность ротавирусной инфекции?</p>
          <span class="product-faq__icon accordion__icon"></span>
        </summary>

        <div class="product-faq__body accordion__body">
        </div>
      </details>

      <details class="product-faq__item accordion__item">
        <summary class="product-faq__summary accordion__header">
          <span class="product-faq__number">03</span>
          <p class="product-faq__title accordion__title">Как бороться с ротавирусной инфекцией?</p>
          <span class="product-faq__icon accordion__icon"></span>
        </summary>

        <div class="product-faq__body accordion__body">
        </div>
      </details>
    </div>
  </div>
</section>
