<section class="product-hero">
  <div class="product-hero__wrapper wrapper">
    <h1 class="product-hero__title">
      синтетический гормон
      <span class="product-hero__title-accent">при дефиците прогестерона</span>
    </h1>

    <div class="product-hero__visual">
      <div class="product-hero__image">
        <picture>
          <source media="(min-width: 1024px)" srcset="./images/product-page/fertigen-visual.avif">
          <img src="./images/product-page/fertigen.avif" alt="Фертиген">
        </picture>
      </div>

      <p class="product-hero__disclaimer">
        Изображение является макетом упаковки. Реальный продукт может незначительно отличаться
      </p>
    </div>

    <div class="product-hero__actions">
      <a class="button-blue" href="#">
        <span class="product-hero__button-icon product-hero__button-icon--map-point"></span>
        Где купить
      </a>

      <a class="button-outline" href="#">
        <span class="product-hero__button-icon product-hero__button-icon--arrow-right"></span>
        Для медработников
      </a>
    </div>

    <div class="product-hero__info">
      <div class="product-hero__tags">
        <span class="tag tag--prescription">По рецепту</span>
        <span class="tag tag--vital">ЖНВЛП</span>
      </div>

      <div class="product-hero__field">
        <p class="product-hero__field-label">Международное непатентованное название:</p>
        <p class="product-hero__field-value">Вакцина для профилактики ротавирусной инфекции, пентавалентная, живая</p>
      </div>

      <p class="product-hero__description">
        Вакцина для профилактики ротавирусной инфекции, пентавалентная, живая для перорального применения, предназначенная для активной иммунизации здоровых младенцев с целью профилактики гастроэнтерита, вызванного ротавирусами серотипов G1, G2, G3, G4, G9. Рекомендуемый курс вакцинации состоит из 3 доз с интервалами между введением очередной дозы не менее 4-х недель, начиная с 6-недельного возраста.
      </p>
    </div>

    <div class="product-hero__accordion accordion">
      <details class="product-hero__accordion-item accordion__item" open>
        <summary class="product-hero__accordion-header accordion__header">
          <p class="product-hero__accordion-title accordion__title">Показания к применению</p>
          <span class="product-hero__accordion-icon accordion__icon"></span>
        </summary>

        <div class="product-hero__accordion-body accordion__body">
          <p>Вакцина Рота-V-Эйд® предназначена для активной иммунизации здоровых детей в возрасте от 6 недель с целью профилактики гастроэнтерита, вызванного ротавирусами серотипов G1, G2, G3, G4, G9.</p>
        </div>
      </details>

      <details class="product-hero__accordion-item accordion__item">
        <summary class="product-hero__accordion-header accordion__header">
          <p class="product-hero__accordion-title accordion__title">Схема вакцинации</p>
          <span class="product-hero__accordion-icon accordion__icon"></span>
        </summary>

        <div class="product-hero__accordion-body accordion__body">
        </div>
      </details>

      <details class="product-hero__accordion-item accordion__item">
        <summary class="product-hero__accordion-header accordion__header">
          <p class="product-hero__accordion-title accordion__title">Противопоказания</p>
          <span class="product-hero__accordion-icon accordion__icon"></span>
        </summary>

        <div class="product-hero__accordion-body accordion__body">
        </div>
      </details>
    </div>
  </div>
</section>
