<section class="notfound wrapper">
  <div class="notfound__hero">
    <img class="notfound__title" src="./images/404/404.svg" alt="404">
    <picture class="notfound__picture">
      <source srcset="./images/404/flask-desktop.avif" media="(min-width: 1380px)" type="image/avif">
      <source srcset="./images/404/flask-laptop.avif" media="(min-width: 1280px)" type="image/avif">
      <source srcset="./images/404/flask-tablet-landscape.avif" media="(min-width: 1024px)" type="image/avif">
      <source srcset="./images/404/flask-tablet.avif" media="(min-width: 768px)" type="image/avif">
      <source srcset="./images/404/flask.avif" type="image/avif">
      <img class="notfound__image" src="./images/404/flask.avif" alt="">
    </picture>
  </div>

  <div class="notfound__body">
    <p class="notfound__text">
      К сожалению, такой страницы на нашем сайте нет. Возможно, она была удалена или вы ошиблись в адресе.
    </p>
    <p class="notfound__text">
      Не волнуйтесь — как и для многих болезней, для этой проблемы тоже есть решение:
    </p>

    <div class="notfound__actions">
      <a class="notfound__button button-blue" href="/">На главную</a>
      <a class="notfound__button button-blue" href="/products.html">Наши продукты</a>
    </div>
  </div>
</section>
