<section class="about-hero">
  <div class="about-hero__bg">
    <picture class="about-hero__bg-picture">
      <source srcset="./images/about/about-hero-bg-desktop.avif 1x, ./images/about/about-hero-bg-desktop@2x.avif 2x" media="(min-width: 1380px)" type="image/avif">
      <source srcset="./images/about/about-hero-bg-laptop.avif 1x, ./images/about/about-hero-bg-laptop@2x.avif 2x" media="(min-width: 1280px)" type="image/avif">
      <source srcset="./images/about/about-hero-bg-tablet-landscape.avif 1x, ./images/about/about-hero-bg-tablet-landscape@2x.avif 2x" media="(min-width: 1024px)" type="image/avif">
      <source srcset="./images/about/about-hero-bg-tablet.avif" media="(min-width: 768px)" type="image/avif">
      <source srcset="./images/about/about-hero-bg.avif" type="image/avif">
      <img class="about-hero__bg-image" src="./images/about/about-hero-bg.avif" alt="">
    </picture>
    <div class="about-hero__gradient"></div>
  </div>

  <div class="about-hero__wrapper wrapper">
    <h1 class="about-hero__title">О компании</h1>
  </div>
</section>
