<section class="about-partners section">
  <div class="about-partners__wrapper wrapper">
    <div class="section__header">
      <p class="section__label">Сотрудничество</p>
      <h2 class="section__heading">Партнеры</h2>

      <p class="about-partners__desc">
      Через трансфер технологий и&nbsp;локализацию продуктов, производственных процессов
      и&nbsp;интеллектуальной собственности от&nbsp;ведущих компаний мира мы&nbsp;обеспечиваем
      быстрый вывод на&nbsp;рынок доступных социально значимых лекарств, поддерживая
      бесперебойность поставок на&nbsp;всех этапах.
    </p>
    </div>

    <div class="about-partners__grid">
      <div class="about-partners__card">
        <img class="about-partners__card-logo" loading="lazy" src="./images/about/partners/serum-institute.avif" alt="Serum Institute of India">
      </div>

      <div class="about-partners__card">
        <img class="about-partners__card-logo" loading="lazy" src="./images/about/partners/zydus.avif" alt="Zydus">
      </div>

      <div class="about-partners__card">
        <img class="about-partners__card-logo" loading="lazy" src="./images/about/partners/bcht.avif" alt="BCHT">
      </div>

      <div class="about-partners__card">
        <img class="about-partners__card-logo" loading="lazy" src="./images/about/partners/mankind.avif" alt="Mankind">
      </div>
    </div>

    <a class="about-partners__button" href="#">Сотрудничать</a>
  </div>
</section>
