<section class="about-quality">
  <div class="about-quality__wrapper wrapper">
    <!-- Качество -->
    <div class="about-quality__header">
      <p class="about-quality__label">Гарантия качества</p>
      <h2 class="about-quality__title">Благодаря многоуровневому контролю и современной производственной инфраструктуре <span class="about-quality__title-accent">мы гарантируем высочайшее качество, эффективность и безопасность</span> каждого препарата</h2>
    </div>

    <!-- Экология -->
    <div class="about-quality__ecology">
      <picture class="about-quality__ecology-picture">
        <source srcset="./images/about/about-ecology-desktop.avif 1x, ./images/about/about-ecology-desktop@2x.avif 2x" media="(min-width: 1380px)" type="image/avif">
        <source srcset="./images/about/about-ecology-laptop.avif 1x, ./images/about/about-ecology-laptop@2x.avif 2x" media="(min-width: 1280px)" type="image/avif">
        <source srcset="./images/about/about-ecology-tablet-landscape.avif 1x, ./images/about/about-ecology-tablet-landscape@2x.avif 2x" media="(min-width: 1024px)" type="image/avif">
        <source srcset="./images/about/about-ecology-tablet.avif" media="(min-width: 768px)" type="image/avif">
        <source srcset="./images/about/about-ecology.avif" type="image/avif">
        <img class="about-quality__ecology-image" src="./images/about/about-ecology.avif" alt="">
      </picture>
      <div class="about-quality__ecology-overlay"></div>
      <div class="about-quality__ecology-content">
        <p class="about-quality__ecology-title">экология</p>
        <p class="about-quality__ecology-desc">Мы постоянно работаем над снижением экологического следа и ответственно относимся к использованию природных ресурсов на всех этапах нашей деятельности</p>
      </div>
    </div>
  </div>
</section>
