<section class="news-page">
  <div class="news-page__wrapper wrapper">
    <h1 class="news-page__title">Новости</h1>

    <div class="news-page__filter">
      <span class="news-page__filter-label">Год:</span>

      <select class="news-page__filter-select selectbox js-select" aria-label="Фильтр по году">
        <option value="news.html?year=2026" selected>2026</option>
        <option value="news.html?year=2025">2025</option>
        <option value="news.html?year=2024">2024</option>
        <option value="news.html?year=2023">2023</option>
        <option value="news.html?year=2022">2022</option>
        <option value="news.html?year=2021">2021</option>
      </select>
    </div>

    <div class="news-page__list">
      <a class="news-page__item news-page__item--hero" href="#">
        <picture class="news-page__item-picture">
          <source srcset="./images/news-page/news-hero-desktop.avif 1x, ./images/news-page/news-hero-desktop@2x.avif 2x" media="(min-width: 1380px)" type="image/avif">
          <source srcset="./images/news-page/news-hero-laptop.avif 1x, ./images/news-page/news-hero-laptop@2x.avif 2x" media="(min-width: 1280px)" type="image/avif">
          <source srcset="./images/news-page/news-hero-tablet-landscape.avif 1x, ./images/news-page/news-hero-tablet-landscape@2x.avif 2x" media="(min-width: 1024px)" type="image/avif">
          <source srcset="./images/news-page/news-hero-tablet.avif" media="(min-width: 768px)" type="image/avif">
          <source srcset="./images/news-page/news-hero.avif" type="image/avif">
          <img class="news-page__item-image" src="./images/news-page/news-hero.avif" alt="">
        </picture>

        <span class="news-page__item-overlay"></span>

        <div class="news-page__item-content">
          <h2 class="news-page__item-title">Компания «ФАРМ ЭЙД» расширяет портфель препаратов за счет нового сегмента - препаратов для поддержки женского здоровья</h2>

          <p class="news-page__item-text">В рамках реализации своей миссии, заключающейся в повышении доступности высококачественных лекарственных препаратов для российских пациентов, компания «ФАРМ ЭЙД» объявляет о расширении своего портфеля и регистрации лекарственного препарата для поддержки женского здоровья...</p>

          <span class="news-page__item-date">10 апреля 2026</span>
        </div>
      </a>

      <a class="news-page__item" href="#">
        <picture class="news-page__item-picture">
          <source srcset="./images/news-page/news-card-1-desktop.avif 1x, ./images/news-page/news-card-1-desktop@2x.avif 2x" media="(min-width: 1380px)" type="image/avif">
          <source srcset="./images/news-page/news-card-1-laptop.avif 1x, ./images/news-page/news-card-1-laptop@2x.avif 2x" media="(min-width: 1280px)" type="image/avif">
          <source srcset="./images/news-page/news-card-1-tablet-landscape.avif 1x, ./images/news-page/news-card-1-tablet-landscape@2x.avif 2x" media="(min-width: 1024px)" type="image/avif">
          <source srcset="./images/news-page/news-card-1-tablet.avif" media="(min-width: 768px)" type="image/avif">
          <source srcset="./images/news-page/news-card-1.avif" type="image/avif">
          <img class="news-page__item-image" src="./images/news-page/news-card-1.avif" alt="">
        </picture>

        <div class="news-page__item-content">
          <h2 class="news-page__item-title">Компания «ФАРМ ЭЙД» впервые приняла участие в Экспертном форуме по иммунопрофилактике</h2>

          <p class="news-page__item-text">Компания «ФАРМ ЭЙД ЛТД» впервые приняла участие в VI Экспертном форуме по иммунопрофилактике, организованном Всероссийским Союзом Пациентов, который ежегодно собирает ведущих специалистов в области вакцинопрофилактики, представителей регуляторных органов и фармацевтического бизнеса.</p>

          <span class="news-page__item-date">10 апреля 2026</span>
        </div>
      </a>

      <a class="news-page__item" href="#">
        <picture class="news-page__item-picture">
          <source srcset="./images/news-page/news-card-2-desktop.avif 1x, ./images/news-page/news-card-2-desktop@2x.avif 2x" media="(min-width: 1380px)" type="image/avif">
          <source srcset="./images/news-page/news-card-2-laptop.avif 1x, ./images/news-page/news-card-2-laptop@2x.avif 2x" media="(min-width: 1280px)" type="image/avif">
          <source srcset="./images/news-page/news-card-2-tablet-landscape.avif 1x, ./images/news-page/news-card-2-tablet-landscape@2x.avif 2x" media="(min-width: 1024px)" type="image/avif">
          <source srcset="./images/news-page/news-card-2-tablet.avif" media="(min-width: 768px)" type="image/avif">
          <source srcset="./images/news-page/news-card-2.avif" type="image/avif">
          <img class="news-page__item-image" src="./images/news-page/news-card-2.avif" alt="">
        </picture>

        <div class="news-page__item-content">
          <h2 class="news-page__item-title">В России начались испытания менингококковой вакцины от пяти штаммов вируса</h2>

          <p class="news-page__item-text">В российской фармкомпании «Фарм Эйд» сообщили о начале клинических испытаний менингококковой вакцины последнего поколения, защищающей от пяти штаммов вируса.</p>

          <span class="news-page__item-date">10 апреля 2026</span>
        </div>
      </a>

      <a class="news-page__item" href="#">
        <picture class="news-page__item-picture">
          <source srcset="./images/news-page/news-card-1-desktop.avif 1x, ./images/news-page/news-card-1-desktop@2x.avif 2x" media="(min-width: 1380px)" type="image/avif">
          <source srcset="./images/news-page/news-card-1-laptop.avif 1x, ./images/news-page/news-card-1-laptop@2x.avif 2x" media="(min-width: 1280px)" type="image/avif">
          <source srcset="./images/news-page/news-card-1-tablet-landscape.avif 1x, ./images/news-page/news-card-1-tablet-landscape@2x.avif 2x" media="(min-width: 1024px)" type="image/avif">
          <source srcset="./images/news-page/news-card-1-tablet.avif" media="(min-width: 768px)" type="image/avif">
          <source srcset="./images/news-page/news-card-1.avif" type="image/avif">
          <img class="news-page__item-image" src="./images/news-page/news-card-1.avif" alt="">
        </picture>

        <div class="news-page__item-content">
          <h2 class="news-page__item-title">Компания «ФАРМ ЭЙД» впервые приняла участие в Экспертном форуме по иммунопрофилактике</h2>

          <p class="news-page__item-text">Компания «ФАРМ ЭЙД ЛТД» впервые приняла участие в VI Экспертном форуме по иммунопрофилактике, организованном Всероссийским Союзом Пациентов, который ежегодно собирает ведущих специалистов в области вакцинопрофилактики, представителей регуляторных органов и фармацевтического бизнеса.</p>

          <span class="news-page__item-date">10 апреля 2026</span>
        </div>
      </a>

      <a class="news-page__item" href="#">
        <picture class="news-page__item-picture">
          <source srcset="./images/news-page/news-card-2-desktop.avif 1x, ./images/news-page/news-card-2-desktop@2x.avif 2x" media="(min-width: 1380px)" type="image/avif">
          <source srcset="./images/news-page/news-card-2-laptop.avif 1x, ./images/news-page/news-card-2-laptop@2x.avif 2x" media="(min-width: 1280px)" type="image/avif">
          <source srcset="./images/news-page/news-card-2-tablet-landscape.avif 1x, ./images/news-page/news-card-2-tablet-landscape@2x.avif 2x" media="(min-width: 1024px)" type="image/avif">
          <source srcset="./images/news-page/news-card-2-tablet.avif" media="(min-width: 768px)" type="image/avif">
          <source srcset="./images/news-page/news-card-2.avif" type="image/avif">
          <img class="news-page__item-image" src="./images/news-page/news-card-2.avif" alt="">
        </picture>

        <div class="news-page__item-content">
          <h2 class="news-page__item-title">В России начались испытания менингококковой вакцины от пяти штаммов вируса</h2>

          <p class="news-page__item-text">В российской фармкомпании «Фарм Эйд» сообщили о начале клинических испытаний менингококковой вакцины последнего поколения, защищающей от пяти штаммов вируса.</p>

          <span class="news-page__item-date">10 апреля 2026</span>
        </div>
      </a>

      <a class="news-page__item" href="#">
        <picture class="news-page__item-picture">
          <source srcset="./images/news-page/news-card-1-desktop.avif 1x, ./images/news-page/news-card-1-desktop@2x.avif 2x" media="(min-width: 1380px)" type="image/avif">
          <source srcset="./images/news-page/news-card-1-laptop.avif 1x, ./images/news-page/news-card-1-laptop@2x.avif 2x" media="(min-width: 1280px)" type="image/avif">
          <source srcset="./images/news-page/news-card-1-tablet-landscape.avif 1x, ./images/news-page/news-card-1-tablet-landscape@2x.avif 2x" media="(min-width: 1024px)" type="image/avif">
          <source srcset="./images/news-page/news-card-1-tablet.avif" media="(min-width: 768px)" type="image/avif">
          <source srcset="./images/news-page/news-card-1.avif" type="image/avif">
          <img class="news-page__item-image" src="./images/news-page/news-card-1.avif" alt="">
        </picture>

        <div class="news-page__item-content">
          <h2 class="news-page__item-title">Компания «ФАРМ ЭЙД» впервые приняла участие в Экспертном форуме по иммунопрофилактике</h2>

          <p class="news-page__item-text">Компания «ФАРМ ЭЙД ЛТД» впервые приняла участие в VI Экспертном форуме по иммунопрофилактике, организованном Всероссийским Союзом Пациентов, который ежегодно собирает ведущих специалистов в области вакцинопрофилактики, представителей регуляторных органов и фармацевтического бизнеса.</p>

          <span class="news-page__item-date">10 апреля 2026</span>
        </div>
      </a>

      <a class="news-page__item" href="#">
        <picture class="news-page__item-picture">
          <source srcset="./images/news-page/news-card-2-desktop.avif 1x, ./images/news-page/news-card-2-desktop@2x.avif 2x" media="(min-width: 1380px)" type="image/avif">
          <source srcset="./images/news-page/news-card-2-laptop.avif 1x, ./images/news-page/news-card-2-laptop@2x.avif 2x" media="(min-width: 1280px)" type="image/avif">
          <source srcset="./images/news-page/news-card-2-tablet-landscape.avif 1x, ./images/news-page/news-card-2-tablet-landscape@2x.avif 2x" media="(min-width: 1024px)" type="image/avif">
          <source srcset="./images/news-page/news-card-2-tablet.avif" media="(min-width: 768px)" type="image/avif">
          <source srcset="./images/news-page/news-card-2.avif" type="image/avif">
          <img class="news-page__item-image" src="./images/news-page/news-card-2.avif" alt="">
        </picture>

        <div class="news-page__item-content">
          <h2 class="news-page__item-title">В России начались испытания менингококковой вакцины от пяти штаммов вируса</h2>

          <p class="news-page__item-text">В российской фармкомпании «Фарм Эйд» сообщили о начале клинических испытаний менингококковой вакцины последнего поколения, защищающей от пяти штаммов вируса.</p>

          <span class="news-page__item-date">10 апреля 2026</span>
        </div>
      </a>

      <a class="news-page__item" href="#">
        <picture class="news-page__item-picture">
          <source srcset="./images/news-page/news-card-1-desktop.avif 1x, ./images/news-page/news-card-1-desktop@2x.avif 2x" media="(min-width: 1380px)" type="image/avif">
          <source srcset="./images/news-page/news-card-1-laptop.avif 1x, ./images/news-page/news-card-1-laptop@2x.avif 2x" media="(min-width: 1280px)" type="image/avif">
          <source srcset="./images/news-page/news-card-1-tablet-landscape.avif 1x, ./images/news-page/news-card-1-tablet-landscape@2x.avif 2x" media="(min-width: 1024px)" type="image/avif">
          <source srcset="./images/news-page/news-card-1-tablet.avif" media="(min-width: 768px)" type="image/avif">
          <source srcset="./images/news-page/news-card-1.avif" type="image/avif">
          <img class="news-page__item-image" src="./images/news-page/news-card-1.avif" alt="">
        </picture>

        <div class="news-page__item-content">
          <h2 class="news-page__item-title">Компания «ФАРМ ЭЙД» впервые приняла участие в Экспертном форуме по иммунопрофилактике</h2>

          <p class="news-page__item-text">Компания «ФАРМ ЭЙД ЛТД» впервые приняла участие в VI Экспертном форуме по иммунопрофилактике, организованном Всероссийским Союзом Пациентов, который ежегодно собирает ведущих специалистов в области вакцинопрофилактики, представителей регуляторных органов и фармацевтического бизнеса.</p>

          <span class="news-page__item-date">10 апреля 2026</span>
        </div>
      </a>

      <a class="news-page__item" href="#">
        <picture class="news-page__item-picture">
          <source srcset="./images/news-page/news-card-2-desktop.avif 1x, ./images/news-page/news-card-2-desktop@2x.avif 2x" media="(min-width: 1380px)" type="image/avif">
          <source srcset="./images/news-page/news-card-2-laptop.avif 1x, ./images/news-page/news-card-2-laptop@2x.avif 2x" media="(min-width: 1280px)" type="image/avif">
          <source srcset="./images/news-page/news-card-2-tablet-landscape.avif 1x, ./images/news-page/news-card-2-tablet-landscape@2x.avif 2x" media="(min-width: 1024px)" type="image/avif">
          <source srcset="./images/news-page/news-card-2-tablet.avif" media="(min-width: 768px)" type="image/avif">
          <source srcset="./images/news-page/news-card-2.avif" type="image/avif">
          <img class="news-page__item-image" src="./images/news-page/news-card-2.avif" alt="">
        </picture>

        <div class="news-page__item-content">
          <h2 class="news-page__item-title">В России начались испытания менингококковой вакцины от пяти штаммов вируса</h2>

          <p class="news-page__item-text">В российской фармкомпании «Фарм Эйд» сообщили о начале клинических испытаний менингококковой вакцины последнего поколения, защищающей от пяти штаммов вируса.</p>

          <span class="news-page__item-date">10 апреля 2026</span>
        </div>
      </a>
    </div>

    <button class="news-page__more button-blue" type="button">Показать еще</button>
  </div>
</section>
