<section class="contacts-office">
  <div class="contacts-office__wrapper wrapper">
    <div class="contacts-office__header">
      <h2 class="contacts-office__heading">Офис компании</h2>
      <div class="contacts-office__info">
        <div class="contacts-office__company">
          <p class="contacts-office__name">ООО «ФАРМ ЭЙД ЛТД»</p>
          <p class="contacts-office__address">115054, Москва, Большой Строченовский переулок, 7, офис 702</p>
        </div>
        <div class="contacts-office__details">
          <div class="contacts-office__detail">
            <p class="contacts-office__detail-label">Электронная почта</p>
            <a class="contacts-office__detail-value" href="mailto:info@pharmaid.com">info@pharmaid.com</a>
          </div>
          <div class="contacts-office__detail">
            <p class="contacts-office__detail-label">Телефон</p>
            <a class="contacts-office__detail-value" href="tel:+74954774424">+7 (495) 477-44-24</a>
          </div>
          <div class="contacts-office__detail">
            <p class="contacts-office__detail-label">Время работы</p>
            <p class="contacts-office__detail-value">Пн. – Пт. 9:00-18:00</p>
          </div>
        </div>
      </div>
    </div>
    <div class="contacts-office__map contacts-map"
         data-lat="37.627894"
         data-lng="55.722618"
         data-title="Pharm Aid Ltd"></div>
  </div>
</section>
