<section class="contacts-production">
  <div class="contacts-production__wrapper wrapper">
    <div class="contacts-production__header">
      <h2 class="contacts-production__heading">Производственная площадка</h2>
      <div class="contacts-production__info">
        <p class="contacts-production__name">ООО «ФАРМ ЭЙД БИОТЕХ»</p>
        <p class="contacts-production__address">Индустриальный парк Ворсино, Калужская область, Российская Федерация</p>
      </div>
    </div>
    <div class="contacts-production__map contacts-map"
         data-lat="36.728515"
         data-lng="55.137619"
         data-title="ФАРМ ЭЙД БИОТЕХ"></div>
  </div>
</section>
