:root {
  --color-blue: #002856;
  --color-blue-300: #787F97;
  --color-red: #AB192D;
  --color-green: #9FD55E;
  --color-gray: #ABADAE;
  --color-gray-border: #D1D5DC;
  --color-teal: #3599B2;
  --color-cyan: #A2D9E7;
  --color-white: #FEFEFF;
  --color-light-teal: #DAF0F5;
  --color-red-400: #BC474F;
  --color-green-700: #77B031;
  --color-gray-500: #97989A;
  --color-gray-100: #F6F6F9;
  --color-blue-200: #A5AABA;
}
