<section class="about section">
  <div class="about__wrapper wrapper">
    <div class="section__header">
      <p class="section__label">О компании</p>

      <h2 class="section__heading">
        Фармацевтическая компания «Фарм Эйд» была основана в 2017 году
        с целью трансфера технологий производства инновационных
        биотехнологических продуктов в Россию
      </h2>
    </div>

    <div class="about__body">
      <div class="about__photo">
        <picture>
          <source srcset="./images/about/about-lab.avif" type="image/avif">
          <img class="about__photo-image" src="./images/about/about-lab.avif" alt="">
        </picture>
      </div>

      <div class="about__info">
        <div class="about__content">
          <p class="about__desc">
            Сегодня «<span class="about__desc-caps">Фарм Эйд</span>» является крупнейшим российским поставщиком вакцины
            для профилактики ротавирусной инфекции и реализует проект строительства производственной площадки
            по выпуску инновационных комбинированных иммунобиологических препаратов, предназначенных
            для профилактики и лечения различных заболеваний в индустриальном парке «Ворсино» в Калужской области.
          </p>

          <div class="about__values">
            <p class="about__values-title">Наши основные ценности:</p>
            <ul class="about__values-list">
              <li class="about__values-item">Мы разделяем ответственность;</li>
              <li class="about__values-item">Мы продвигаем инновации;</li>
              <li class="about__values-item">Мы проявляем тщательность и профессионализм в планировании и исполнении;</li>
              <li class="about__values-item">Мы поощряем доверие и взаимоуважение.</li>
            </ul>
          </div>
        </div>

        <div class="about__footer">
          <div class="about__badge">
            <img class="about__badge-bracket about__badge-bracket--left" src="./images/about/bracket-left.svg" alt="" width="105" height="64">
            <p class="about__badge-text">Единственная вакцина против ротавируса в России</p>
            <img class="about__badge-bracket about__badge-bracket--right" src="./images/about/bracket-right.svg" alt="" width="105" height="64">
          </div>

          <a class="about__button" href="#">Узнать больше</a>
        </div>
      </div>
    </div>
  </div>
</section>
