<section class="hero">
  <div class="hero__bg">
    <picture>
      <source srcset="./images/hero/hero-bg.avif" type="image/avif">
      <img class="hero__bg-image" src="./images/hero/hero-bg.avif" alt="">
    </picture>
    <div class="hero__bg-gradient hero__bg-gradient--top"></div>
    <div class="hero__bg-gradient hero__bg-gradient--bottom"></div>
  </div>

  <div class="wrapper">
    <h1 class="hero__title">
      <span class="hero__title-blue">лучшие мировые биотехнологии</span>
      <span class="hero__title-red">для защиты самого важного</span>
    </h1>

    <div class="hero__bottom">
      <div class="hero__company">
        <div class="hero__company-info">
          <i class="icon icon--medal hero__company-icon"></i>
          <div class="hero__company-text">
            <span class="hero__company-name">ФАРМ ЭЙД</span>
            <span class="hero__company-desc">лидер рынка по поставкам вакцины для профилактики ротавирусной инфекции.</span>
          </div>
        </div>
        <p class="hero__company-founded">Компания основана в 2017 году</p>
      </div>

      <ul class="hero__features">
        <li class="hero__feature">
          <i class="icon icon--bag hero__feature-icon"></i>
          <span class="hero__feature-text">доступность</span>
        </li>
        <li class="hero__feature">
          <i class="icon icon--graph hero__feature-icon"></i>
          <span class="hero__feature-text">Эффективность</span>
        </li>
        <li class="hero__feature">
          <i class="icon icon--shield hero__feature-icon"></i>
          <span class="hero__feature-text">безопасность</span>
        </li>
        <li class="hero__feature">
          <i class="icon icon--benzene hero__feature-icon"></i>
          <span class="hero__feature-text">технологичность</span>
        </li>
      </ul>
    </div>
  </div>
</section>
