<section class="leadership">
  <div class="leadership__wrapper wrapper">
    <p class="leadership__label">лидерство на рынке</p>

    <div class="leadership__list">
      <div class="leadership__card">
        <div class="leadership__value">
          <span class="leadership__number">14,3</span>
          <span class="leadership__unit">млрд рублей</span>
        </div>
        <p class="leadership__desc">инвестиции в производство</p>
      </div>

      <div class="leadership__card">
        <div class="leadership__value">
          <span class="leadership__number"><span class="leadership__prefix">до</span> 30</span>
          <span class="leadership__unit">млн доз</span>
        </div>
        <p class="leadership__desc">моноклональных антител в год</p>
      </div>

      <div class="leadership__card">
        <div class="leadership__value">
          <span class="leadership__number">25 000</span>
          <span class="leadership__unit">кв. м</span>
        </div>
        <p class="leadership__desc">площадь современного биотехнологического комплекса</p>
      </div>
    </div>
  </div>
</section>
