<section class="news section">
  <div class="news__wrapper wrapper">
    <div class="section__header">
      <p class="section__label">Новости</p>
      <h2 class="section__heading">Сми о нас</h2>
    </div>

    <div class="news__body">
      <div class="news__list">
        <a class="news__item" href="#">
          <div class="news__item-photo">
            <picture>
              <source srcset="./images/news/news-1.avif" type="image/avif">
              <img class="news__item-image" src="./images/news/news-1.avif" alt="">
            </picture>
          </div>
          <div class="news__item-content">
            <span class="news__item-date">10 апреля 2026</span>
            <p class="news__item-title">Компания «ФАРМ ЭЙД» впервые приняла участие в Экспертном форуме по иммунопрофилактике</p>
          </div>
        </a>

        <a class="news__item" href="#">
          <div class="news__item-photo">
            <picture>
              <source srcset="./images/news/news-2.avif" type="image/avif">
              <img class="news__item-image" src="./images/news/news-2.avif" alt="">
            </picture>
          </div>
          <div class="news__item-content">
            <span class="news__item-date">3 апреля 2026</span>
            <p class="news__item-title">Помогаем защитить детей и взрослых от кори, краснухи и паротита: «ФАРМ ЭЙД» передает партию вакцины в регионы</p>
          </div>
        </a>

        <a class="news__item" href="#">
          <div class="news__item-photo">
            <picture>
              <source srcset="./images/news/news-3.avif" type="image/avif">
              <img class="news__item-image" src="./images/news/news-3.avif" alt="">
            </picture>
          </div>
          <div class="news__item-content">
            <span class="news__item-date">3 апреля 2026</span>
            <p class="news__item-title">ТАСС о партнерстве «ФАРМ ЭЙД» с Serum Institute: локализация производства вакцин как путь к технологическому суверенитету</p>
          </div>
        </a>
      </div>

      <a class="news__button" href="#">Больше новостей</a>
    </div>
  </div>
</section>
