<section class="products section">
  <div class="products__wrapper wrapper">
    <div class="section__header">
      <p class="section__label">Продукты</p>

      <h2 class="section__heading">
        <span class="products__heading-accent">Опираясь на знания</span>
        и практики лучших российских и мировых биотехнологических компаний и экспертов,
        <span class="products__heading-accent">мы сформировали портфель</span>
        высококачественных,
        <span class="products__heading-accent">инновационных лекарственных препаратов</span>
      </h2>
    </div>

    <div class="products__slider">
      <div class="swiper products__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide product-slide" data-description="Живая аттенуированная противовирусная вакцина (для перорального применения) в лиофилизированной форме, предназначена для активной иммунизации здоровых младенцев для предотвращения гастроэнтерита, вызванного ротавирусной инфекцией.">
            <div class="product-slide__frame">
              <img class="product-slide__frame-image" src="./images/products/frame.svg" alt="">
            </div>
            <div class="product-slide__image">
              <picture>
                <source srcset="./images/products/rota-v-aid.avif" type="image/avif">
                <img src="./images/products/rota-v-aid.avif" alt="Рота-V-Эйд">
              </picture>
            </div>
          </div>

          <div class="swiper-slide product-slide" data-description="Рекомбинантная трёхвалентная вакцина для профилактики ротавирусной инфекции.">
            <div class="product-slide__frame">
              <img class="product-slide__frame-image" src="./images/products/frame.svg" alt="">
            </div>
            <div class="product-slide__image">
              <picture>
                <source srcset="./images/products/trivaid.avif" type="image/avif">
                <img src="./images/products/trivaid.avif" alt="Триваид">
              </picture>
            </div>
          </div>

          <div class="swiper-slide product-slide" data-description="Инновационный биофармацевтический препарат для профилактики инфекционных заболеваний.">
            <div class="product-slide__frame">
              <img class="product-slide__frame-image" src="./images/products/frame.svg" alt="">
            </div>
            <div class="product-slide__image">
              <picture>
                <source srcset="./images/products/product-3.avif" type="image/avif">
                <img src="./images/products/product-3.avif" alt="Препарат">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="products__footer">
      <p class="products__description"></p>

      <div class="products__nav">
        <button class="products__nav-button products__nav-button--prev" type="button">
          <span class="products__nav-icon"></span>
        </button>
        <button class="products__nav-button products__nav-button--next" type="button">
          <span class="products__nav-icon"></span>
        </button>
      </div>
    </div>
  </div>
</section>
