<section class="production section">
  <div class="production__wrapper wrapper">
    <div class="section__header">
      <p class="section__label">Производство</p>

      <h2 class="section__heading">
        <span class="production__heading-accent">Мы</span>
        <span class="production__heading-accent">создаем</span>
        современнейший биофармацевтический
        <span class="production__heading-accent">производственный комплекс</span>
      </h2>

      <p class="production__lead">
        Он станет одним из крупнейших в стране производственных центров полного цикла,
        выпускающих рекомбинантные, живые, инактивированные противовирусные,
        противобактериальные и другие иммунобиологические лекарственные препараты.
      </p>

      <p class="production__desc">
        «ФАРМ ЭЙД» ориентирован на выпуск широкого спектра востребованных препаратов,
        произведенных на территории Российской Федерации, с использованием технологий
        от мировых лидеров из дружественных стран.
      </p>
    </div>

    <div class="production__photos">
      <div class="production__photos-side">
        <p class="production__photos-text">
          Уникальный производственный комплекс будет выпускать доступные для населения России
          высокотехнологичные лекарственные препараты.
        </p>

        <div class="production__photo production__photo--first">
          <picture>
            <source srcset="./images/production/production-1.avif" type="image/avif">
            <img class="production__photo-image" src="./images/production/production-1.avif" alt="">
          </picture>
        </div>
      </div>

      <div class="production__photo production__photo--second">
        <picture>
          <source srcset="./images/production/production-2.avif" type="image/avif">
          <img class="production__photo-image" src="./images/production/production-2.avif" alt="">
        </picture>
      </div>
    </div>
  </div>
</section>
