<section class="article article--news">
  <div class="article__wrapper wrapper">
    <div class="article__media">
      <picture class="article__media-picture">
        <source srcset="./images/news-detail/news-photo-desktop.avif 1x, ./images/news-detail/news-photo-desktop@2x.avif 2x" media="(min-width: 1380px)" type="image/avif">
        <source srcset="./images/news-detail/news-photo-laptop.avif 1x, ./images/news-detail/news-photo-laptop@2x.avif 2x" media="(min-width: 1280px)" type="image/avif">
        <source srcset="./images/news-detail/news-photo-tablet-landscape.avif 1x, ./images/news-detail/news-photo-tablet-landscape@2x.avif 2x" media="(min-width: 1024px)" type="image/avif">
        <source srcset="./images/news-detail/news-photo-tablet.avif" media="(min-width: 768px)" type="image/avif">
        <source srcset="./images/news-detail/news-photo.avif" type="image/avif">
        <img class="article__media-image" src="./images/news-detail/news-photo.avif" alt="">
      </picture>

      <div class="article__media-text">
        <p>В рамках реализации своей миссии, заключающейся в повышении доступности высококачественных лекарственных препаратов для российских пациентов, компания «ФАРМ ЭЙД» объявляет о расширении своего портфеля и регистрации лекарственного препарата для поддержки женского здоровья — «Фертижен®» (МНН — дидрогестерон), предназначенного для применения в гинекологической практике — в первую очередь для лечения бесплодия и иных состояний, связанных с недостаточностью прогестерона.</p>
      </div>
    </div>

    <div class="article__media article__media--reverse">
      <div class="article__media-text">
        <p>Расширение портфеля «ФАРМ ЭЙД» за счет препарата «Фертижен®» является первым шагом на пути укрепления позиции компании в сегменте женского здоровья, направленного на сохранение репродуктивного здоровья женщин, — одном из приоритетов государственной демографической политики и задач национального проекта «Семья».</p>
      </div>

      <picture class="article__media-picture">
        <source srcset="./images/news-detail/news-pack-desktop.avif 1x, ./images/news-detail/news-pack-desktop@2x.avif 2x" media="(min-width: 1380px)" type="image/avif">
        <source srcset="./images/news-detail/news-pack-laptop.avif 1x, ./images/news-detail/news-pack-laptop@2x.avif 2x" media="(min-width: 1280px)" type="image/avif">
        <source srcset="./images/news-detail/news-pack-tablet-landscape.avif 1x, ./images/news-detail/news-pack-tablet-landscape@2x.avif 2x" media="(min-width: 1024px)" type="image/avif">
        <source srcset="./images/news-detail/news-pack-tablet.avif" media="(min-width: 768px)" type="image/avif">
        <source srcset="./images/news-detail/news-pack.avif" type="image/avif">
        <img class="article__media-image" src="./images/news-detail/news-pack.avif" alt="">
      </picture>
    </div>

    <div class="article__media article__media--aside">
      <div class="article__media-text">
        <p>Расширение портфеля «ФАРМ ЭЙД» за счет препарата «Фертижен®» является первым шагом на пути укрепления позиции компании в сегменте женского здоровья, направленного на сохранение репродуктивного здоровья женщин, — одном из приоритетов государственной демографической политики и задач национального проекта «Семья».</p>

        <p>Ожидается, что препарат «Фертижен®» станет доступен для российских пациенток уже в ближайшее время.</p>
      </div>

      <picture class="article__media-picture">
        <source srcset="./images/news-detail/news-audience-desktop.avif 1x, ./images/news-detail/news-audience-desktop@2x.avif 2x" media="(min-width: 1380px)" type="image/avif">
        <source srcset="./images/news-detail/news-audience-laptop.avif 1x, ./images/news-detail/news-audience-laptop@2x.avif 2x" media="(min-width: 1280px)" type="image/avif">
        <source srcset="./images/news-detail/news-audience-tablet-landscape.avif 1x, ./images/news-detail/news-audience-tablet-landscape@2x.avif 2x" media="(min-width: 1024px)" type="image/avif">
        <source srcset="./images/news-detail/news-audience-tablet.avif" media="(min-width: 768px)" type="image/avif">
        <source srcset="./images/news-detail/news-audience.avif" type="image/avif">
        <img class="article__media-image" src="./images/news-detail/news-audience.avif" alt="">
      </picture>
    </div>
  </div>
</section>
