<section class="other-news">
  <div class="other-news__wrapper wrapper">
    <div class="other-news__header">
      <h2 class="other-news__label">Другие новости</h2>

      <div class="other-news__nav slider-nav">
        <button class="slider-nav__button slider-nav__button--prev" type="button" aria-label="Предыдущие новости">
          <span class="slider-nav__icon"></span>
        </button>

        <button class="slider-nav__button slider-nav__button--next" type="button" aria-label="Следующие новости">
          <span class="slider-nav__icon"></span>
        </button>
      </div>
    </div>

    <div class="swiper other-news__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide other-news__slide">
          <a class="other-news__card" href="news-detail.html">
            <picture class="other-news__card-picture">
              <source srcset="./images/news-page/news-card-1-banner.avif 1x, ./images/news-page/news-card-1-banner@2x.avif 2x" media="(min-width: 1380px)" type="image/avif">
              <source srcset="./images/news-page/news-card-1-banner-laptop.avif 1x, ./images/news-page/news-card-1-banner-laptop@2x.avif 2x" media="(min-width: 1280px)" type="image/avif">
              <source srcset="./images/news-page/news-card-1-banner-tablet-landscape.avif 1x, ./images/news-page/news-card-1-banner-tablet-landscape@2x.avif 2x" media="(min-width: 1024px)" type="image/avif">
              <source srcset="./images/news-page/news-card-1-tablet.avif" media="(min-width: 768px)" type="image/avif">
              <source srcset="./images/news-page/news-card-1.avif" type="image/avif">
              <img class="other-news__card-image" src="./images/news-page/news-card-1.avif" alt="">
            </picture>

            <div class="other-news__card-content">
              <h3 class="other-news__card-title">Компания «ФАРМ ЭЙД» впервые приняла участие в Экспертном форуме по иммунопрофилактике</h3>

              <time class="other-news__card-date" datetime="2026-04-10">10 апреля 2026</time>
            </div>
          </a>
        </div>

        <div class="swiper-slide other-news__slide">
          <a class="other-news__card" href="news-detail.html">
            <picture class="other-news__card-picture">
              <source srcset="./images/news-page/news-card-2-banner.avif 1x, ./images/news-page/news-card-2-banner@2x.avif 2x" media="(min-width: 1380px)" type="image/avif">
              <source srcset="./images/news-page/news-card-2-banner-laptop.avif 1x, ./images/news-page/news-card-2-banner-laptop@2x.avif 2x" media="(min-width: 1280px)" type="image/avif">
              <source srcset="./images/news-page/news-card-2-banner-tablet-landscape.avif 1x, ./images/news-page/news-card-2-banner-tablet-landscape@2x.avif 2x" media="(min-width: 1024px)" type="image/avif">
              <source srcset="./images/news-page/news-card-2-tablet.avif" media="(min-width: 768px)" type="image/avif">
              <source srcset="./images/news-page/news-card-2.avif" type="image/avif">
              <img class="other-news__card-image" src="./images/news-page/news-card-2.avif" alt="">
            </picture>

            <div class="other-news__card-content">
              <h3 class="other-news__card-title">Помогаем защитить детей и взрослых от кори, краснухи и паротита: «ФАРМ ЭЙД» передает партию вакцины в регионы</h3>

              <time class="other-news__card-date" datetime="2026-04-10">10 апреля 2026</time>
            </div>
          </a>
        </div>

        <div class="swiper-slide other-news__slide">
          <a class="other-news__card" href="news-detail.html">
            <picture class="other-news__card-picture">
              <source srcset="./images/news-page/news-card-1-banner.avif 1x, ./images/news-page/news-card-1-banner@2x.avif 2x" media="(min-width: 1380px)" type="image/avif">
              <source srcset="./images/news-page/news-card-1-banner-laptop.avif 1x, ./images/news-page/news-card-1-banner-laptop@2x.avif 2x" media="(min-width: 1280px)" type="image/avif">
              <source srcset="./images/news-page/news-card-1-banner-tablet-landscape.avif 1x, ./images/news-page/news-card-1-banner-tablet-landscape@2x.avif 2x" media="(min-width: 1024px)" type="image/avif">
              <source srcset="./images/news-page/news-card-1-tablet.avif" media="(min-width: 768px)" type="image/avif">
              <source srcset="./images/news-page/news-card-1.avif" type="image/avif">
              <img class="other-news__card-image" src="./images/news-page/news-card-1.avif" alt="">
            </picture>

            <div class="other-news__card-content">
              <h3 class="other-news__card-title">ТАСС о партнерстве «ФАРМ ЭЙД» с Serum Institute: локализация производства вакцин как путь к технологическому суверенитету</h3>

              <time class="other-news__card-date" datetime="2026-04-10">10 апреля 2026</time>
            </div>
          </a>
        </div>

        <div class="swiper-slide other-news__slide">
          <a class="other-news__card" href="news-detail.html">
            <picture class="other-news__card-picture">
              <source srcset="./images/news-page/news-card-2-banner.avif 1x, ./images/news-page/news-card-2-banner@2x.avif 2x" media="(min-width: 1380px)" type="image/avif">
              <source srcset="./images/news-page/news-card-2-banner-laptop.avif 1x, ./images/news-page/news-card-2-banner-laptop@2x.avif 2x" media="(min-width: 1280px)" type="image/avif">
              <source srcset="./images/news-page/news-card-2-banner-tablet-landscape.avif 1x, ./images/news-page/news-card-2-banner-tablet-landscape@2x.avif 2x" media="(min-width: 1024px)" type="image/avif">
              <source srcset="./images/news-page/news-card-2-tablet.avif" media="(min-width: 768px)" type="image/avif">
              <source srcset="./images/news-page/news-card-2.avif" type="image/avif">
              <img class="other-news__card-image" src="./images/news-page/news-card-2.avif" alt="">
            </picture>

            <div class="other-news__card-content">
              <h3 class="other-news__card-title">Компания «ФАРМ ЭЙД» впервые приняла участие в Экспертном форуме по иммунопрофилактике</h3>

              <time class="other-news__card-date" datetime="2026-04-10">10 апреля 2026</time>
            </div>
          </a>
        </div>

        <div class="swiper-slide other-news__slide">
          <a class="other-news__card" href="news-detail.html">
            <picture class="other-news__card-picture">
              <source srcset="./images/news-page/news-card-1-banner.avif 1x, ./images/news-page/news-card-1-banner@2x.avif 2x" media="(min-width: 1380px)" type="image/avif">
              <source srcset="./images/news-page/news-card-1-banner-laptop.avif 1x, ./images/news-page/news-card-1-banner-laptop@2x.avif 2x" media="(min-width: 1280px)" type="image/avif">
              <source srcset="./images/news-page/news-card-1-banner-tablet-landscape.avif 1x, ./images/news-page/news-card-1-banner-tablet-landscape@2x.avif 2x" media="(min-width: 1024px)" type="image/avif">
              <source srcset="./images/news-page/news-card-1-tablet.avif" media="(min-width: 768px)" type="image/avif">
              <source srcset="./images/news-page/news-card-1.avif" type="image/avif">
              <img class="other-news__card-image" src="./images/news-page/news-card-1.avif" alt="">
            </picture>

            <div class="other-news__card-content">
              <h3 class="other-news__card-title">Помогаем защитить детей и взрослых от кори, краснухи и паротита: «ФАРМ ЭЙД» передает партию вакцины в регионы</h3>

              <time class="other-news__card-date" datetime="2026-04-10">10 апреля 2026</time>
            </div>
          </a>
        </div>

        <div class="swiper-slide other-news__slide">
          <a class="other-news__card" href="news-detail.html">
            <picture class="other-news__card-picture">
              <source srcset="./images/news-page/news-card-2-banner.avif 1x, ./images/news-page/news-card-2-banner@2x.avif 2x" media="(min-width: 1380px)" type="image/avif">
              <source srcset="./images/news-page/news-card-2-banner-laptop.avif 1x, ./images/news-page/news-card-2-banner-laptop@2x.avif 2x" media="(min-width: 1280px)" type="image/avif">
              <source srcset="./images/news-page/news-card-2-banner-tablet-landscape.avif 1x, ./images/news-page/news-card-2-banner-tablet-landscape@2x.avif 2x" media="(min-width: 1024px)" type="image/avif">
              <source srcset="./images/news-page/news-card-2-tablet.avif" media="(min-width: 768px)" type="image/avif">
              <source srcset="./images/news-page/news-card-2.avif" type="image/avif">
              <img class="other-news__card-image" src="./images/news-page/news-card-2.avif" alt="">
            </picture>

            <div class="other-news__card-content">
              <h3 class="other-news__card-title">ТАСС о партнерстве «ФАРМ ЭЙД» с Serum Institute: локализация производства вакцин как путь к технологическому суверенитету</h3>

              <time class="other-news__card-date" datetime="2026-04-10">10 апреля 2026</time>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
